<form [formGroup]="omtTestform" class="form-group">
  <div [ngClass]="layout" [style]="testStyle">
    <div *ngFor="let control of controls;" class="form-control-container">
      <span *ngIf="control.type === 'input'" class="control-wrapper">
        <input cFormControl [type]="'text'" [formControlName]="control.id" sizing="sm" [style]="control.style" />
        <label class="form-label">
          {{ control.name[0] }}
        </label>
      </span>
      <span *ngIf="control.type === 'select'" class="control-wrapper">
        <select [formControlName]="control.id" [style]="control.style" sizing="sm" cSelect>
          <option *ngFor="let fVal of control.value" [value]="fVal.val">
            {{ fVal.view }}
          </option>
        </select>
        <label class="form-label">
          {{ control.name[0] }}
        </label>
      </span>
    </div>
    <button type="button" class="btn btn-link">Show Test</button>
  </div>
</form>