<form [formGroup]="form" [style]="style">
  <div [style]="labelStyle" *ngIf="label">
    <label>{{label}}</label>
  </div>
  <div [ngClass]="{'checkbox-group': splitColumn === 1, 'checkbox-group-columns' : splitColumn ===2}"
    [style]="checkBoxStyle">
    <div *ngFor="let value of values; let i = index" class="checkbox-item">
      <div class="checkbox-label" [style]="contorl_style">
        <input type="checkbox" [formControlName]="value.val" (change)="toggleAdditionalControl(value.val)" />
        <label>{{ value.view }}</label>
      </div>

      <!-- Show input if checkbox is checked -->
      <div *ngIf="form.get(value.val)?.value" class="input-container">
        <div *ngFor="let dependency of value.dependencies">
          <div *ngIf="dependency.fieldType ==='checkbox'">
            <input type="checkbox" [formControlName]="dependency.fieldFormName" />
            <label>{{ dependency.displayName }}</label>
          </div>
          <div *ngIf="dependency.fieldType ==='text'">
            <input [formControlName]="dependency.fieldFormName" type="text">
          </div>
          <div *ngIf="dependency.fieldType ==='textArea'">
            <textarea [formControlName]="dependency.fieldFormName" rows="2"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>