<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<c-row>
    <c-col xs="12" class="mb-2">
        <h1>Organizations</h1>
    </c-col>
</c-row>
<hr />
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button cButton color="primary" class="me-md-2" variant="outline" (click)="create()">Create Organization</button>
</div>
<ng-container fluid="true">
    <c-smart-table #smartTable="cSmartTable" clickableRows [columnSorter]="true" [columns]="columns" header
        [items]="organiztions" [sorterValue]="{ column: 'name', state: 'asc' }"
        [tableProps]="{ hover: true, striped: true , small:true}">
        <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
            <td [cAlign]="smartTable.tableDataCellProps(item, columnName)?.align"
                [ngClass]="smartTable.tableDataCellClasses(item, columnName)">
                <ng-container [ngSwitch]="columnName">
                    <ng-container *ngSwitchDefault>
                        {{tdContent}}
                    </ng-container>
                    <ng-container *ngSwitchCase="'action'" class="py-2">
                        <div class="btn-group " role="group" aria-label="Basic example">
                            <button cButton color="primary" size="sm" variant="outline" (click)="edit(item)">
                                <svg cIcon name="cilPen"></svg>
                            </button>
                            <button cButton color="primary" size="sm" variant="outline">
                                <svg cIcon name="cilTrash"></svg>
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </td>
        </ng-template>
    </c-smart-table>
</ng-container>
<c-modal id="editOrg" [visible]="editOrganizationVisibility" size="xl">
    <c-modal-header>
        <h3 cModalTitle>Edit Organization</h3>
        <button (click)="toggleEditOrganization()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <edit-organization [organization]="selectedOrganization" *ngIf="editOrganizationVisibility"></edit-organization>
    </c-modal-body>
</c-modal>