<c-container fluid="true">
    <div class="button-container m-2">
        <!-- <button (click)="backtoPatientRecordActions()" class="btn btn-link">Back to patient records</button> -->
        <c-input-group class="mb-3" style="max-width: 225px;">
            <select id="soapActionList" #soapActionList cSelect sizing="sm">
                <option value="back">Back to patient records</option>
                <option value="draft">Save as draft</option>
            </select>
            <button cButton color="primary" variant="outline" size="sm" (click)="soapActions(soapActionList.value)">
                <svg cIcon name="cilArrowCircleRight"></svg>
            </button>
        </c-input-group>
    </div>
    <form [formGroup]="dailyNoteForm" *ngIf="dailyNoteForm">
        <mat-stepper linear="true" #stepper [orientation]="stepperOrientation" (selectionChange)="onStepChange($event)">
            <mat-step [stepControl]="dailyNoteForm.get('subjective')!" completed="true" formGroupName="subjective">
                <ng-template matStepLabel>Subjective</ng-template>
                <subjective [stepper]="stepper" (formReady)="setChildForm('subjective', $event)" *ngIf="visitedSteps[0]"
                    [subjectiveData]="medicalNoteSOAP?.subjective" [noteType]="'2'"></subjective>
            </mat-step>
            <mat-step completed="true" [stepControl]="dailyNoteForm.get('objective')!" formGroupName="objective">
                <ng-template matStepLabel>Objective</ng-template>
                <billing [stepper]="stepper" [parentForm]="dailyNoteForm"
                    (formReady)="setChildForm('objective', $event)" *ngIf="visitedSteps[1]"
                    [billingData]="medicalNoteSOAP?.objective"></billing>
            </mat-step>
            <mat-step completed="true" [stepControl]="dailyNoteForm.get('assessment')!" formGroupName="assessment">
                <ng-template matStepLabel>Assessment</ng-template>
                <assessment [stepper]="stepper" (formReady)="setChildForm('assessment', $event)" *ngIf="visitedSteps[2]"
                    [assessmentData]="medicalNoteSOAP?.assessment" [noteType]="'2'"></assessment>
            </mat-step>
            <mat-step completed="true" [stepControl]="dailyNoteForm.get('planOfCare')!" formGroupName="planOfCare">
                <ng-template matStepLabel>Plan</ng-template>
                <daily-plan (formReady)="setChildForm('planOfCare', $event)" *ngIf="visitedSteps[3]"
                    [planData]="medicalNoteSOAP?.planOfCare" [noteId]="medicalNoteId"></daily-plan>
                <!-- <plan [stepper]="stepper" (formReady)="setChildForm('planOfCare', $event)" *ngIf="visitedSteps[3]"
                    [planData]="medicalNoteSOAP?.planOfCare" [creator]="noteCreator" [noteFinalizr]="noteFinalizr"
                    [noteId]="medicalNoteId" [noteType]="'2'">
                </plan> -->
            </mat-step>
        </mat-stepper>
    </form>
</c-container>