<c-card class="mb-3 ustify-content-center">
    <c-card-body>
        <!-- <c-row class="g-3">
            <c-col class="mb-1">
                <c-input-group sizing="sm">
                    <span cInputGroupText style="width: 8%;">Treating Doctor</span>
                    <input cFormControl readonly [value]="treatingDoctor" />
                </c-input-group>
            </c-col>
        </c-row> -->
        <c-row class="g-3">
            <c-col class="mb-1">
                <c-input-group sizing="sm">
                    <span cInputGroupText style="width: 8%;">Referring Doctor</span>
                    <input cFormControl readonly [value]="referringDoctor" />
                </c-input-group>
            </c-col>
        </c-row>
        <c-row class="g-3">
            <c-col class="mb-1">
                <c-input-group sizing="sm">
                    <span cInputGroupText style="width: 8%;">ReferringNPI</span>
                    <input cFormControl readonly [value]="referringNPI" />
                </c-input-group>
            </c-col>
        </c-row>
        <c-row class="g-3">
            <c-col class="mb-1">
                <c-input-group sizing="sm">
                    <span cInputGroupText style="width: 8%;">PlaceOfService</span>
                    <input cFormControl readonly [value]="case.placeOfService | lowercase" />
                </c-input-group>
            </c-col>
        </c-row>
        <c-row class="g-3">
            <c-col class="mb-1">
                <c-input-group sizing="sm">
                    <span cInputGroupText style="width: 8%;">InjuryCase</span>
                    <input cFormControl readonly [value]="case.injuryCase | lowercase" />
                </c-input-group>
            </c-col>
        </c-row>
        <c-row class="mb-3">
            <label [sm]="1" cCol cLabel="col" for="CaseDiagnosis" sizing="sm">
                <strong>CaseDiagnosis</strong>
            </label>
            <c-col [sm]="12" *ngFor="let diagnosis of case.caseDiagnosis; let i = index">
                <c-row>
                    <c-col [sm]="1">
                        <input cFormControl id="CaseDiagnosis" readonly type="text" [value]="diagnosis.diagnosisCode"
                            sizing="sm" />
                    </c-col>
                    <c-col [sm]="11">
                        <input cFormControl id="CaseDiagnosis" readonly type="text"
                            [value]="diagnosis.diagnosisDescription" sizing="sm" />
                    </c-col>
                </c-row>
            </c-col>
            <c-col [sm]="12">
                <div class="d-flex justify-content-end">
                    <div class="p-2 d-flex align-items-center gap-2">
                        <label for="patientRecordAction" class="mx-0 text-nowrap" style="padding-bottom: 15px;">Patient
                            Record Actions:</label>
                        <c-input-group class="mb-3">
                            <select id="patientRecordAction" #patientActionSelect cSelect sizing="sm">
                                <option [value]="action"
                                    *ngFor="let action of case.patientRecordActions; let i = index">
                                    {{ action }}
                                </option>
                            </select>
                            <button cButton color="primary" variant="outline" size="sm"
                                (click)="executeAction(patientActionSelect.value)">
                                <svg cIcon name="cilArrowCircleRight"></svg>
                            </button>
                        </c-input-group>
                    </div>
                </div>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
<!--Patient Record-->
<c-card class="mb-3 ustify-content-center" *ngIf="patientRecord ===true">
    <c-card-body>
        <c-nav variant="tabs">
            <c-nav-item>
                <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]="0" cNavLink>
                    <svg cIcon class="me-2" name="cilNotes"></svg>
                    Records
                </a>
            </c-nav-item>
            <c-nav-item>
                <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=1 cNavLink>
                    <svg cIcon class="me-2" name="cilPaperclip"></svg>
                    E-Documents
                </a>
            </c-nav-item>
            <c-nav-item>
                <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=2 cNavLink>
                    <svg cIcon class="me-2" name="cilMoney"></svg>
                    Patient Payment
                </a>
            </c-nav-item>
            <c-nav-item>
                <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=3 cNavLink>
                    <svg cIcon class="me-2" name="cilHome"></svg>
                    Home Exercise Program
                </a>
            </c-nav-item>
        </c-nav>
        <c-tab-content #tabContent2="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
            <c-tab-pane tabPaneIdx=0>
                <c-card class="mb-3">
                    <c-card-body>
                        <ng-container *ngIf="props$ | async as props">
                            <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns"
                                [items]="(patientRecords$ | async) ?? []" [itemsPerPage]="props.itemsPerPage"
                                (itemsPerPageChange)="handleItemsPerPageChange($event)"
                                [itemsPerPageOptions]="[5,10,20]" [itemsPerPageSelect]="true"
                                [tableProps]="{ hover: true, striped: false, small:true }"
                                [tableBodyProps]="{ align: 'middle' }"
                                (sorterValueChange)="handleSorterValueChange($event)" header>
                                <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                                    let-tdContent="tdContent">
                                    <td>
                                        <ng-container [ngSwitch]="columnName">
                                            <ng-container *ngSwitchCase="'record'">
                                                {{item.status}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'date'">
                                                {{item.date| date:'MMM d, y, h:mm a'}}
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                {{tdContent}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'actions'">
                                                <c-input-group>
                                                    <select id="patientRecordLineAction" #patientRecordLineAction
                                                        cSelect sizing="sm">
                                                        <option [value]="action"
                                                            *ngFor="let action of item.actions; let i = index">
                                                            {{ action }}
                                                        </option>
                                                    </select>
                                                    <button cButton color="primary" variant="outline" size="sm"
                                                        (click)="executeRecordLineAction(patientRecordLineAction.value, item.entityId,item.status)">
                                                        <svg cIcon name="cilArrowCircleRight"></svg>
                                                    </button>
                                                </c-input-group>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </ng-template>
                            </c-smart-table>
                            <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage" size="sm"
                                (activePageChange)="handleActivePageChange($event)"
                                [pages]="props.totalPages"></c-smart-pagination>
                        </ng-container>
                    </c-card-body>
                </c-card>
            </c-tab-pane>
            <c-tab-pane tabPaneIdx=1>
                E-Documents component
            </c-tab-pane>
            <c-tab-pane tabPaneIdx=2>

                <patient-payment [patientId]="patientId" [caseId]="case.id"></patient-payment>
            </c-tab-pane>
            <c-tab-pane tabPaneIdx=3>
                Home Exercise Program component
            </c-tab-pane>
        </c-tab-content>
    </c-card-body>
</c-card>

<span *ngIf="patientRecord ===false">
    <c-card class="mb-3 ustify-content-center">
        <!-- Initial Examination -->
        <initial-examination *ngIf="patientRecordAction ==='Add Initial Examination' && medicalNoteId"
            (back)="handleBackAction()" [medicalNoteId]="medicalNoteId" [caseId]="case.id"></initial-examination>
        <!-- Daily Note -->
        <daily-note *ngIf="patientRecordAction ==='Add Daily Note' && medicalNoteId" (back)="handleBackAction()"
            [medicalNoteId]="medicalNoteId" [caseId]="case.id"></daily-note>
        <!--Progress Note-->
        <progress-note *ngIf="patientRecordAction ==='Progress Note' && medicalNoteId" (back)="handleBackAction()"
            [medicalNoteId]="medicalNoteId" [caseId]="case.id"></progress-note>
        <!--Quick Discharge Note-->
        <quick-discharge-note *ngIf="patientRecordAction ==='Quick Discharge' && medicalNoteId"
            (back)="handleBackAction()" [medicalNoteId]="medicalNoteId" [caseId]="case.id"></quick-discharge-note>
        <full-discharge-note *ngIf="patientRecordAction ==='Discharge' && medicalNoteId" (back)="handleBackAction()"
            [medicalNoteId]="medicalNoteId" [caseId]="case.id"></full-discharge-note>
    </c-card>
    <span *ngIf=" patientRecordAction==='ERROR_FINALIZE'">
        <c-callout color=" danger">
            {{errorMessage}}
        </c-callout>
        <div class="button-container m-2">
            <button cButton color="primary" variant="outline" size="sm" (click)="handleBackAction()">
                Back to patient records
            </button>
        </div>
    </span>
</span>
<c-modal id="AppointmentAction" [visible]="reasonVisibility">
    <c-modal-header>
        <h5 cModalTitle>Appointment {{appointmentCancelNoShowReason?.status}} Reason</h5>
        <button (click)="toggleReasonVisibility('')" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <c-input-group class="mb-3" sizing="sm">
            <span cInputGroupText id="basic-addon1">
                <svg cIcon name="cilReportSlash" title="cilReportSlash"></svg>
            </span>
            <input aria-describedby="basic-addon1" readonly cFormControl
                [value]="appointmentCancelNoShowReason?.reason" />
        </c-input-group>
        <c-input-group class="mb-3" sizing="sm" *ngIf="appointmentCancelNoShowReason?.status === 'Cancel'">
            <span cInputGroupText id="basic-addon1">
                <svg cIcon name="cilCalendar" title="cilCalendar"></svg>
            </span>
            <input aria-describedby="basic-addon1" readonly cFormControl
                [value]="this.appointmentCancelNoShowReason.reasonDate| date: 'MM/dd/yyyy hh:mm a'" />
        </c-input-group>
        <textarea cFormControl id="exampleFormControlTextarea1" rows="3"
            [value]="appointmentCancelNoShowReason?.comment"></textarea>
    </c-modal-body>
</c-modal>