<form [formGroup]="form" [style]="testStyle">
  <table class="table custom-table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Occasional (Lbs.)</th>
        <th>Frequent (Lbs.)</th>
        <th>Adequate For Job</th>
      </tr>
    </thead>
    <tbody [formGroup]="liftingGroup">
      <tr [formGroupName]="'floorToKnuckle'">
        <td>Floor To Knuckle</td>
        <td><input type="number" formControlName="occasional" class="form-control slim-input"></td>
        <td><input type="number" formControlName="frequent" class="form-control slim-input"></td>
        <td>
          <select formControlName="adequate" >
            <option *ngFor="let option of adequacyOptions" [value]="option">{{ option }}</option>
          </select>
        </td>
      </tr>
      <tr [formGroupName]="'knuckleToShoulder'">
        <td>Knuckle To Shoulder</td>
        <td><input type="number" formControlName="occasional" class="form-control slim-input"></td>
        <td><input type="number" formControlName="frequent" class="form-control slim-input"></td>
        <td>
          <select formControlName="adequate" >
            <option *ngFor="let option of adequacyOptions" [value]="option">{{ option }}</option>
          </select>
        </td>
      </tr>
      <tr [formGroupName]="'shoulderToOverhead'">
        <td>Shoulder To Overhead</td>
        <td><input type="number" formControlName="occasional" class="form-control slim-input"></td>
        <td><input type="number" formControlName="frequent" class="form-control slim-input"></td>
        <td>
          <select formControlName="adequate" >
            <option *ngFor="let option of adequacyOptions" [value]="option">{{ option }}</option>
          </select>
        </td>
      </tr>
      <tr [formGroupName]="'carryAndPivot'">
        <td>100 FT. Carry And Pivot</td>
        <td><input type="number" formControlName="occasional" class="form-control slim-input"></td>
        <td><input type="number" formControlName="frequent" class="form-control slim-input"></td>
        <td>
          <select formControlName="adequate" >
            <option *ngFor="let option of adequacyOptions" [value]="option">{{ option }}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</form>
