<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<br />

<div [ngSwitch]="view" *ngIf="events">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="monthClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <!-- <div class="horizontal-container">
    <div *ngFor="let resource of resources;let i = index" class="resource-item">
      <div class="resource-header">
        {{ resource.name }}
      </div>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)" (hourSegmentClicked)="weekClicked($event.date)"
        [dayStartHour]="(schedulerConfiguration$ | async)?.startHour"
        [dayEndHour]="(schedulerConfiguration$ | async)?.endHour">
      </mwl-calendar-week-view>
    </div>
  </div> -->
  <!-- <div class="parent-container" *ngSwitchCase="CalendarView.Week">
    <div class="cal-week-view" role="grid" style="position: sticky;top: 0px;background-color: white;z-index: 150;">
      <mwl-calendar-week-view-header [days]="days">
      </mwl-calendar-week-view-header>
    </div>
  </div> -->
  <div *ngSwitchCase="CalendarView.Week">
    <div class="horizontal-container">
      <div *ngFor="let resource of resources" class="resource-item">
        <div class="resource-header">
          {{ resource.name }}
        </div>
        <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
          (hourSegmentClicked)="weekClicked($event.date)" [dayStartHour]="(schedulerConfiguration$ | async)?.startHour"
          [dayEndHour]="(schedulerConfiguration$ | async)?.endHour">
        </mwl-calendar-week-view>
      </div>
    </div>
  </div>
  <!-- <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
    (hourSegmentClicked)="dayClicked($event.date)"
    [dayStartHour]="(schedulerConfiguration$ | async)?.startHour"
    [dayEndHour]="(schedulerConfiguration$ | async)?.endHour">
  </mwl-calendar-day-view> -->
  <mwl-day-view-scheduler *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
    (eventTimesChanged)="eventTimesChanged($event)" (userChanged)="userChanged($event)"
    (eventClicked)="handleEvent('Clicked', $event.event)" (hourSegmentClicked)="dayClicked($event.date)"
    [dayStartHour]="(schedulerConfiguration$ | async)?.startHour"
    [dayEndHour]="(schedulerConfiguration$ | async)?.endHour" [users]="resources">
  </mwl-day-view-scheduler>
</div>