<div class="my-2" style="width: 15%;max-height: 50vh; overflow-y: scroll;border: 1px solid #ccc;">
  <form>
    <ul [flush]="true" cListGroup>
      <label cListGroupItem style="cursor: pointer;" class="bg-primary text-white p-2">Calendars</label>
      <li cListGroupItem *ngFor='let calendar of calendars$ |async'>
        <c-form-check>
          <input cFormCheckInput type="checkbox" name="d" (change)="onCheckboxChange($event, calendar)"
            [checked]="isSelected(calendar)" />
          <label cFormCheckLabel>{{calendar.name}}</label>
        </c-form-check>
      </li>
    </ul>
  </form>
</div>
<div class="row text-center mb-2">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="clickNavigate()">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
        (viewDateChange)="clickNavigate()">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="clickNavigate()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>

<br />
<c-spinner color="dark" variant="grow" *ngIf="isLoading"></c-spinner>
<div [ngSwitch]="view" *ngIf="!isLoading">
  <!--Month Module-->
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events.getAll()"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="monthClicked($event.day)"
    [weekStartsOn]="schedulerSettingsa.dayOfWeek" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event,null)">
  </mwl-calendar-month-view>
  <!--Week Module-->
  <div *ngSwitchCase="CalendarView.Week">
    <div class="horizontal-container" *ngIf="selectedCalendars.length > 0 ">
      <div *ngFor="let calendar of selectedCalendars" class="resource-item" [ngClass]="{
        'full-width': selectedCalendars.length === 1 && isSelected(calendar),
        'even-width': selectedCalendars.length !== 1
      }">
        <div class="resource-header">
          {{ calendar.name }}
        </div>
        <mwl-calendar-week-view [viewDate]="viewDate" [events]="events.get(calendar.id)" [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event,calendar.id)"
          (hourSegmentClicked)="weekClicked($event.date , calendar)" [weekStartsOn]="schedulerSettingsa.dayOfWeek"
          [dayStartHour]="schedulerSettingsa.startOfDay" [dayEndHour]="schedulerSettingsa.endOfDay"
          [hourSegments]='schedulerSettingsa.timeInterval'>
        </mwl-calendar-week-view>
      </div>
    </div>
    <div *ngIf="selectedCalendars.length ===0 ">
      <mwl-calendar-week-view [viewDate]="viewDate" [refresh]="refresh" [weekStartsOn]="schedulerSettingsa.dayOfWeek"
        [dayStartHour]="schedulerSettingsa.startOfDay" [dayEndHour]="schedulerSettingsa.endOfDay"
        [hourSegments]='schedulerSettingsa.timeInterval'>
      </mwl-calendar-week-view>
    </div>
  </div>
  <!--Day Module-->
  <mwl-day-view-scheduler *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event,null)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (hourSegmentClicked)="dayClicked($event)" [calendars]="selectedCalendars" [calendarEvents]="events"
    [dayStartHour]="schedulerSettingsa.startOfDay" [dayEndHour]="schedulerSettingsa.endOfDay"
    [hourSegments]='schedulerSettingsa.timeInterval'>
  </mwl-day-view-scheduler>
</div>