<c-spinner color="dark" variant="grow" *ngIf="isLoading"></c-spinner>
<c-card class="mb-2">
  <c-card-header>
    <svg cIcon name="cilCalendar" title="cilCalendar" size="xl" class="mx-1"></svg>
    <strong>Calendar Selections</strong>
  </c-card-header>
  <c-card-body>
    <c-multi-select multiple size="sm" cSelect name="calendars" id="selectedClinic" class="my-2" placeholder="Calendars"
      [cleaner]="false" (valueChange)="onChangeCalendars($event)" *ngIf="calendars && selected">
      <c-multi-select-option *ngFor="let calendar of calendars" [value]="calendar.id.toString()"
        [selected]="calendar.selected">{{calendar.name}}</c-multi-select-option>
    </c-multi-select>
    <c-multi-select multiple size="sm" cSelect name="calendars" id="selectedClinic" class="my-2" placeholder="Calendars"
      *ngIf="!selected">
    </c-multi-select>
  </c-card-body>
</c-card>

<div class="row text-center mb-2">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="clickNavigate()">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
        (viewDateChange)="clickNavigate()">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="clickNavigate()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>

<br />
<div [ngSwitch]="view" *ngIf="schedulerSettingsa">
  <!--Month Module-->
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events.getAll()"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="monthClicked($event.day)"
    [weekStartsOn]="schedulerSettingsa.dayOfWeek" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event,null)">
  </mwl-calendar-month-view>
  <!--Week Module-->
  <div *ngSwitchCase="CalendarView.Week">
    <div class="horizontal-container" *ngIf="selectedCalendars.length > 0 ">
      <div *ngFor="let calendar of selectedCalendars" class="resource-item" [ngClass]="{
        'full-width': selectedCalendars.length === 1 && isSelected(calendar),
        'even-width': selectedCalendars.length !== 1
      }">
        <div class="resource-header">
          {{ calendar.name }}
        </div>
        <mwl-calendar-week-view [viewDate]="viewDate" [events]="events.get(calendar.id)" [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event,calendar.id)"
          (hourSegmentClicked)="weekClicked($event.date , calendar)" [weekStartsOn]="schedulerSettingsa.dayOfWeek"
          [dayStartHour]="schedulerSettingsa.startOfDay" [dayEndHour]="schedulerSettingsa.endOfDay"
          [hourSegments]='schedulerSettingsa.timeInterval'>
        </mwl-calendar-week-view>
      </div>
    </div>
    <div *ngIf="selectedCalendars.length ===0 ">
      <mwl-calendar-week-view [viewDate]="viewDate" [refresh]="refresh" [weekStartsOn]="schedulerSettingsa.dayOfWeek"
        [dayStartHour]="schedulerSettingsa.startOfDay" [dayEndHour]="schedulerSettingsa.endOfDay"
        [hourSegments]='schedulerSettingsa.timeInterval'>
      </mwl-calendar-week-view>
    </div>
  </div>
  <!--Day Module-->
  <mwl-day-view-scheduler *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event,null)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (hourSegmentClicked)="dayClicked($event)" [calendars]="selectedCalendars" [calendarEvents]="events"
    [dayStartHour]="schedulerSettingsa.startOfDay" [dayEndHour]="schedulerSettingsa.endOfDay"
    [hourSegments]='schedulerSettingsa.timeInterval'>
  </mwl-day-view-scheduler>
</div>
<c-modal id="appointmentseriesaction" [visible]="appointmentSeriesAction" size="xl" backdrop="static">
  <c-modal-header>
    <h3 cModalTitle>Edit Appointment</h3>
    <button (click)="toggleAppointmentSeriesAction()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    Do you want to edit all occurrences of the recurring event or only this one?
  </c-modal-body>
  <c-modal-footer>
    <div class="d-flex text-center">
      <button class="btn btn-primary me-2">All</button>
      <button class="btn btn-secondary me-2">One</button>
      <button class="btn btn-danger">Cancel</button>
    </div>
  </c-modal-footer>
</c-modal>