<form [formGroup]="assessmentForm" *ngIf="fields">
    <div class="fields-container">
        <div class="field-item" *ngFor="let field of fields;">
            <soap-field-builder [field]="field" [form]="assessmentForm" [filedStyle]="getstyleFieldControl(field.name)"
                [styles]="styles">
            </soap-field-builder>
        </div>
    </div>
    <!-- Problem List -->
    <c-card class="mb-2">
        <c-card-header>Problem List</c-card-header>
        <c-card-body>
            <assessment-problem (problemAdded)="onProblemAdded($event)" (problemEdited)="onProblemEdited($event)"
                (problemRemoved)="onProblemRemoved($event)" [problems]="problems"></assessment-problem>
        </c-card-body>
    </c-card>

    <!-- Goal List -->
    <c-card>
        <c-card-header>Goal List</c-card-header>
        <c-card-body>
            <assessment-goals [goalsFormArray]="goals" (goalAdded)="onGoalAdded($event)"
                (goalEdited)="onGoalEdited($event)" (goalRemoved)="onGoalRemoved($event)"></assessment-goals>
        </c-card-body>
    </c-card>


    <div class="mt-3">
        <button cButton matStepperPrevious size="sm" variant="outline" class="mx-2">Back</button>
        <button cButton variant="outline" size="sm" (click)="next()">Next</button>
    </div>
</form>