<form [formGroup]="form" [style]="testStyle">
    <span *ngIf="topSelect">
        <ng-container *ngFor="let selectControl of topSelect">
            <div class="form-group">
                <label for="cervicalFlexion" class="top-label">{{selectControl}}</label>
                <span *ngIf="!isMMT">
                    <select id="cervicalFlexion" class="dropdown" [formControlName]="toCamelCase(selectControl)">
                        <option *ngFor="let option of selectValues" [value]="option.val">
                            {{ option.view }}
                        </option>
                    </select>
                </span>
                <span *ngIf="isMMT">
                    <select id="cervicalFlexion" class="dropdown" [formControlName]="toCamelCase(selectControl)">
                        <option *ngFor="let option of MMTSelectValues" [value]="option.val">
                            {{ option.view }}
                        </option>
                    </select>
                </span>
            </div>
        </ng-container>
    </span>
    <div class="grid-container" *ngIf="bodySelect">

        <!-- Header Row -->
        <div></div> <!-- Empty space for labels -->
        <div class="header">Right</div>
        <div class="header">Left</div>

        <!-- Dynamic Rows -->
        <ng-container *ngFor="let selectControl of bodySelect">
            <div class="label">{{ selectControl }}</div>

            <!-- Right Dropdown -->
            <select [formControlName]="'right_' + toCamelCase(selectControl)" class="dropdown">
                <span *ngIf="!isMMT">
                    <option *ngFor="let option of selectValues" [value]="option.val">
                        {{ option.view }}
                    </option>
                </span>
                <span *ngIf="isMMT">
                    <option *ngFor="let option of MMTSelectValues" [value]="option.val">
                        {{ option.view }}
                    </option>
                </span>
            </select>

            <!-- Left Dropdown -->
            <select [formControlName]="'left_' + toCamelCase(selectControl)" class="dropdown">
                <span *ngIf="!isMMT">
                    <option *ngFor="let option of selectValues" [value]="option.val">
                        {{ option.view }}
                    </option>
                </span>
                <span *ngIf="isMMT">
                    <option *ngFor="let option of MMTSelectValues" [value]="option.val">
                        {{ option.view }}
                    </option>
                </span>
            </select>
        </ng-container>
    </div>
</form>