<c-spinner color="dark" variant="grow" *ngIf="isLoading"></c-spinner>
<c-container fluid *ngIf="!isLoading">
    <c-row class="justify-content-center">
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <strong *ngIf="isValidTitle">Appointment for</strong>
                    <strong *ngIf="!isValidTitle" class="text-danger">Appointment for</strong>
                </c-card-header>
                <c-card-body>
                    <div *ngIf="!isValidTitle">
                        <div class="text-danger">
                            Field is required;
                        </div>
                    </div>
                    <div class="mb-3">
                        <label cLabel for="appointmentWhat">What <strong class="text-danger">*</strong></label>
                        <input cFormControl id="appointmentWhat" sizing="sm" [(ngModel)]="appointment.title" />
                    </div>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <strong *ngIf="isValidDate">Appointment at</strong>
                    <strong *ngIf="!isValidDate" class="text-danger">Appointment at</strong>
                </c-card-header>
                <c-card-body>
                    <div *ngIf="!isValidDate">
                        <div class="text-danger">
                            Appointment start time cant greater than appointment end date
                        </div>
                    </div>
                    <div class="mb-1">
                        <c-row>
                            <c-col xs="8"><c-date-picker size="sm" [date]="appointment.appointmentDate.startDate"
                                    name="startDate" [(ngModel)]="appointment.appointmentDate.startDate"
                                    (dateChange)="changestartDate($event)"></c-date-picker></c-col>
                            <c-col xs="4"><c-time-picker size="sm" id="startTime" name="startTime"
                                    [(ngModel)]="appointment.appointmentDate.startTime" (timeChange)="changeStartTime($event)"></c-time-picker></c-col>
                        </c-row>
                    </div>
                    <c-row>
                        <c-col xs="8"><c-date-picker size="sm" [date]="appointment.appointmentDate.endDate"
                                name="endDate"
                                [(ngModel)]="appointment.appointmentDate.endDate"></c-date-picker></c-col>
                        <c-col xs="4"><c-time-picker size="sm" id="endTime" name="endTime"
                                [(ngModel)]="appointment.appointmentDate.endTime"></c-time-picker></c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row class="justify-content-center" *ngIf="selectedClinic">
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header><strong>Clinic</strong></c-card-header>
                <c-card-body>
                    <div class="mb-1">
                        <input cFormControl [value]="selectedClinic.name" sizing="sm" disabled="true">
                    </div>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!-- Appointment Type-->
    <c-row>
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header><strong>Appointment Type</strong></c-card-header>
                <c-card-body>
                    <select cFormControl cSelect class="mb-2" sizing="sm" id="apptype" name="apptype"
                        [ngClass]="{'is-invalid': apptype.invalid && (apptype.dirty || apptype.touched)}"
                        [(ngModel)]="appointment.appointmentTypeId" #apptype="ngModel" required>
                        <option *ngFor="let type of appointmentTypes
                        " [value]="type.id">
                            {{type.name}}
                        </option>
                    </select>
                    <textarea cFormControl id="exampleFormControlTextarea1" rows="2" id="appointmentnote"
                        name="appointmentnote" [(ngModel)]="appointment.note" placeholder="Appointment Note"></textarea>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Appointment Repetition-->
    <c-row>
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header><strong>Appointment Repetition</strong></c-card-header>
                <c-card-body>
                    <select cFormControl cSelect class="mb-2" sizing="sm" id="repetition" name="repetition"
                        [ngClass]="{'is-invalid': repetition.invalid && (repetition.dirty || repetition.touched)}"
                        [(ngModel)]="appointment.appointmentRepetitionType" #repetition="ngModel">
                        <option [ngValue]="'Single'" selected>Don't Repeat</option>
                        <option [ngValue]="'Daily'" selected>Daily</option>
                        <option [ngValue]="'Weekly'" selected>Weekly</option>
                        <option [ngValue]="'Monthly'" selected>Monthly</option>
                        <option [ngValue]="'Yearly'" selected>Yearly</option>
                        <!-- <option [ngValue]="'Every_Week_Day'" selected>Every Week Day</option> -->
                    </select>
                    <repeat-appointment #repeatAppointmentComponent *ngIf="appointment.appointmentRepetitionType"
                        [repeatType]="appointment.appointmentRepetitionType"></repeat-appointment>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>