<form [formGroup]="gripStrengthForm" [style]="testStyle">
  <div class="container" [formGroup]="gripStrengthForm">
    <!-- Right Hand -->
    <div class="column">
      <div class="header">Right</div>
      <div formGroupName="right">
        <div class="form-group" *ngFor="let type of gripTypes">
          <label>{{ type }}</label>
          <div class="input-group">
            <select [formControlName]="gripControlMap[type]">
              <option *ngFor="let option of testOptionsMap[type]" [value]="option.val">{{ option.view }}</option>
            </select>
            <textarea class="comment" [formControlName]="'comment_'+gripControlMap[type]"></textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- Left Hand -->
    <div class="column">
      <div class="header">Left</div>
      <div formGroupName="left">
        <div class="form-group" *ngFor="let type of gripTypes">
          <label>{{ type }}</label>
          <div class="input-group">
            <select [formControlName]="gripControlMap[type]">
              <option *ngFor="let option of testOptionsMap[type]" [value]="option.val">{{ option.view }}</option>
            </select>
            <textarea class="comment" [formControlName]="'comment_'+gripControlMap[type]"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>