<!--Upper extremity quick dash score-->
<span *ngIf="testName === 'ueqd'">
    <ueqd-test></ueqd-test>
</span>

<span *ngIf="testName === 'uefi'">
    <uefi-test></uefi-test>
</span>
<span *ngIf="testName === 'spadi'">
    <spadi-test (getResult)="getResult($event)"></spadi-test>
</span>
<span *ngIf="testName === 'dash'">
    <dash-test></dash-test>
</span>
<span *ngIf="testName === 'molbp'">
    <spine-molbp-test></spine-molbp-test>
</span>
<span *ngIf="testName === 'olbp'">
    <spine-olbp-test></spine-olbp-test>
</span>
<span *ngIf="testName === 'ndi'">
    <spine-ndi-test></spine-ndi-test>
</span>
<span *ngIf="testName === 'lefs'">
    <lower-extremity-lefs-test></lower-extremity-lefs-test>
</span>
<span *ngIf="testName === 'faam'">
    <lower-extremity-faam-test></lower-extremity-faam-test>
</span>
<span *ngIf="testName === 'hoos'">
    <lower-extremity-hoos-test></lower-extremity-hoos-test>
</span>
<span *ngIf="testName === 'koos'">
    <lower-extremity-koos-test></lower-extremity-koos-test>
</span>
<span *ngIf="testName === 'berg'">
    <balance-berg-test></balance-berg-test>
</span>
<span *ngIf="testName === 'abc'">
    <balance-abc-test></balance-abc-test>
</span>
<span *ngIf="testName === 'tinetti'">
    <balance-tinetti></balance-tinetti>
</span>
<span *ngIf="testName === 'fab'">
    <balance-fab-test></balance-fab-test>
</span>