<h2 mat-dialog-title>Edit Appointment</h2>
<mat-dialog-content class="mat-typography">
  <app-appointment-edit [appointment]="appointment" *ngIf="appointment"></app-appointment-edit>
  <c-spinner color="dark" variant="grow" *ngIf="!appointment"></c-spinner>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="appointment">
  <button cButton (click)="update()" class="mx-3" variant="outline">Create</button>
  <button cButton (click)="cancel()" variant="outline">Cancel</button>
</mat-dialog-actions>