<c-container fluid="true">
    <c-card>
        <c-card-header>
            <h3 class="text-center">Create Organization</h3>
        </c-card-header>
        <c-card-body>
            <form [formGroup]="organizationForm">
                <mat-stepper linear="false" #stepper>
                    <mat-step [stepControl]="organizationForm.get('Essential')!" formGroupName="Essential"
                        completed="false">
                        <ng-template matStepLabel>Essential Information</ng-template>
                        <essential-information [form]="organizationForm"></essential-information>
                    </mat-step>
                    <mat-step [stepControl]="organizationForm.get('Clinics')!" formGroupName="Clinics"
                        completed="false">
                        <ng-template matStepLabel>Clinics Information</ng-template>
                        <clinic-information [form]="organizationForm"></clinic-information>
                    </mat-step>
                    <mat-step [stepControl]="organizationForm.get('Administrator')!" formGroupName="Administrator"
                        completed="false">
                        <ng-template matStepLabel>Administrator Information</ng-template>
                        <administrator-info [form]="organizationForm"></administrator-info>
                    </mat-step>
                    <mat-step [stepControl]="organizationForm.get('Users')!" formGroupName="Users" completed="false">
                        <ng-template matStepLabel>Users Information</ng-template>
                        <user-info [form]="organizationForm"></user-info>
                    </mat-step>
                </mat-stepper>
            </form>
        </c-card-body>
    </c-card>
</c-container>