<c-container fluid="true" class="my-3">
    <c-row>
        <!--Time Interval Settings-->
        <c-col xs="12" class="mb-2">
            <c-card>
                <c-card-header>
                    <h5><strong>Time Interval Settings</strong></h5>
                </c-card-header>
                <c-card-body>
                    <time-interval-settings></time-interval-settings>
                </c-card-body>
            </c-card>
        </c-col>
        <!--Week Settings-->
        <c-col xs="12" class="mb-2">
            <c-card>
                <c-card-header>
                    <h5><strong>Week Settings</strong></h5>
                </c-card-header>
                <c-card-body>
                    <week-settings></week-settings>
                </c-card-body>
            </c-card>
        </c-col>
        <!--Appointment duration sessting-->
        <c-col xs="12" class="mb-2">
            <c-card>
                <c-card-header>
                    <h5><strong>Appointment Duration Settings</strong></h5>
                </c-card-header>
                <c-card-body>
                    <appointment-duration-settings></appointment-duration-settings>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>