/* CSS Styles */

/* exercise-tracker.component.css */
table {
    width: auto;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 12px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    min-width: 50px;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  input {
    width: 40px;
    font-size: 10px;
    padding: 2px;
    text-align: center;
  }
  