<div [formGroup]="form" class="form-container">
    <!-- Top Controls -->
    <div class="form-row" *ngFor="let ctrl of topControls">
        <label class="field-label">{{ ctrl.label }}</label>
        <select [formControlName]="getControlName('top', ctrl.label)">
            <option *ngFor="let opt of ctrl.value" [value]="opt.val">{{ opt.view }}</option>
        </select>
    </div>

    <!-- Side Labels -->
    <div class="side-labels" *ngIf="showLabel">
        <div class="side-label">{{ rightLabel }}</div>
        <div class="side-label">{{ leftLabel }}</div>
    </div>

    <!-- Right/Left paired controls -->
    <div class="form-row" *ngFor="let rCtrl of controlR; let i = index">
        <label class="field-label" *ngIf="!rCtrl.ignoreLabel">{{ rCtrl.label }}</label>
        <label class="field-label" *ngIf="rCtrl.ignoreLabel"></label>

        <select [formControlName]="getControlName('right', rCtrl.label)" *ngIf="rCtrl.type ==='select'">
            <option *ngFor="let opt of rCtrl.value" [value]="opt.val">{{ opt.view }}</option>
        </select>
        <input [formControlName]="'right_' + toCamelCase(rCtrl.label) + '_' + parentFieldName"
            *ngIf="rCtrl.type ==='input'">

        <input type="checkbox" [formControlName]="'right_' + toCamelCase(rCtrl.label) + '_' + parentFieldName"
            *ngIf="rCtrl.type ==='checkbox'" />

        <span *ngIf="controlL.length > 0">
        <select [formControlName]="getControlName('left', controlL[i]?.label)" *ngIf="rCtrl.type ==='select'">
            <option *ngFor="let opt of controlL[i]?.value" [value]="opt.val">{{ opt.view }}</option>
        </select>
        <input [formControlName]="'left_' + toCamelCase(rCtrl.label) + '_' + parentFieldName"
            *ngIf="rCtrl.type ==='input'">

        <input type="checkbox" [formControlName]="'left_' + toCamelCase(rCtrl.label) + '_' + parentFieldName"
            *ngIf="rCtrl.type ==='checkbox'" />
        </span>
    </div>
</div>