<c-container fluid="true" class="my-2">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
        <button cButton color="primary" class="me-md-2" variant="outline" (click)="openCreateModal()" dispaly-input>
            <svg cIcon name="cilPlus"></svg>
            Create</button>
    </div>
    <table cTable>
        <thead cTableColor="light">
            <tr>
                <th scope="col">Appointment Name</th>
                <th scope="col">Appointment Color</th>
                <th scope="col">Appointment Font Color</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
            </tr>
        </tbody>
    </table>
</c-container>
<c-modal id="addAppoitmentType" [visible]="addVisibility" size="lg" backdrop="static">
    <c-modal-header>
        <h3 cModalTitle>Add Appointment Type</h3>
        <button (click)="toggleAdd()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <apd-appointment-type *ngIf="addVisibility"></apd-appointment-type>
    </c-modal-body>
</c-modal>