<c-container fluid="true" class="my-2">
    <table cTable>
        <thead cTableColor="light">
            <tr>
                <th scope="col">Appointment Name</th>
                <th scope="col">Appointment Color</th>
                <th scope="col">Appointment Font Color</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
            </tr>
        </tbody>
    </table>
</c-container>