<c-container fluid="true" class="my-2">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
        <button cButton color="primary" class="me-md-2" variant="outline" (click)="openCreateModal()" dispaly-input>
            <svg cIcon name="cilPlus"></svg>
            Create</button>
    </div>
    <table cTable>
        <thead cTableColor="light">
            <tr>
                <th scope="col">Appointment Name</th>
                <th scope="col">Appointment Color</th>
                <th scope="col">Appointment Font Color</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let type of(appointmentTypes |async) ">
                <td>{{type.name}}</td>
                <td><Label [style.background]="type.color"
                        style="height: 20px;width: 20px;border-radius: 50%;display: inline-block;"></Label></td>
                <td><Label [style.background]="type.fontColor"
                        style="height: 20px;width: 20px;border-radius: 50%;display: inline-block;"></Label></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button cButton variant="outline" size="sm" (click)="openEditModal(type)">
                            <svg cIcon name="cilPen"></svg>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</c-container>
<c-modal id="addAppoitmentType" [visible]="addVisibility" size="lg" backdrop="static">
    <c-modal-header>
        <h3 cModalTitle>Add Appointment Type</h3>
        <button (click)="toggleAdd()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <apd-appointment-type *ngIf="addVisibility"
            (changeVisibility)="changeAddModalVisibility($event)"></apd-appointment-type>
    </c-modal-body>
</c-modal>
<c-modal id="editAppoitmentType" [visible]="editVisibility" size="lg" backdrop="static">
    <c-modal-header>
        <h3 cModalTitle>Edit Appointment Type</h3>
        <button (click)="toggleEdit()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <edit-appointment-type *ngIf="editVisibility" (changeVisibility)="changeEditModalVisibility($event)"
            [selectedType]="selectedtype"></edit-appointment-type>
    </c-modal-body>
</c-modal>