<c-container fluid>
    <div class="mb-2">
        <c-row>
            <ul cListGroup flush>
                <li cListGroupItem><strong>Patient-Name</strong> : {{patientName}}</li>
                <li cListGroupItem><strong>Patient-Case</strong> : {{pateintCase}} </li>
                <li cListGroupItem><strong>StartDate</strong> : {{appointmentStartDate | date: 'MM/dd/yyyy hh:mm'}}</li>
                <li cListGroupItem><strong>EndDate</strong> : {{appointmentEndDate | date: 'MM/dd/yyyy hh:mm'}} </li>
                <li cListGroupItem><strong>Appointmet Status</strong> : {{appointmentStatus}}</li>
                <li cListGroupItem><strong>Appointmet Type</strong> : {{appointmentType}}</li>
            </ul>
        </c-row>
    </div>
   
</c-container>