<div [formGroup]="specialTestForm" class="omt-form">
    <div class="form-row">
        <label class="field-label">Flexibility</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="flexibility" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="flexibility" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showFlexibilityFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Thomas Test</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="thomas_test" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="thomas_test" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Ober</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="ober" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="ober" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFlexibilityoberFields" class="dependent-field-box">
            <dropdown-text-table [columns]="specialTestConfig.oberTestNoLabels.columns"
                [labels]="specialTestConfig.oberTestNoLabels.labels"
                [options]="specialTestConfig.oberTestNoLabels.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.oberTestNoLabels.fieldPrefix"
                [commentsFieldName]="specialTestConfig.oberTestNoLabels.commentsFieldName"
                [hasTextInput]="specialTestConfig.oberTestNoLabels.hasTextInput"
                [showComments]="specialTestConfig.oberTestNoLabels.showComments">
            </dropdown-text-table>
        </div>

        <div class="form-row">
            <label class="field-label">90/90 Hamstring Flexibility</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="_90_90_hamstring_flexibility" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="_90_90_hamstring_flexibility" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFlexibilityHamstringFlexibilityFields" class="dependent-field-box">
            <dropdown-text-table [columns]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.columns"
                [labels]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.labels"
                [options]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.options"
                [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.fieldPrefix"
                [commentsFieldName]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.commentsFieldName"
                [hasTextInput]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.hasTextInput"
                [showComments]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.showComments">
            </dropdown-text-table>
        </div>
        <div class="form-row">
            <label class="field-label">Gastrocnemius Length</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="gastrocnemius_length" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="gastrocnemius_length" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Soleus Muscle Length</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="soleus_muscle_length" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="soleus_muscle_length" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

    </div>
    <div class="form-row">
        <label class="field-label">Structural</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="structural" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="structural" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showStructuralFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Craig's Test</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="craigs_test" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="craigs_test" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFlexibilityCraigTestFields" class="dependent-field-box">
            <dropdown-text-table [columns]="specialTestConfig.craigsTestNoLabels.columns"
                [labels]="specialTestConfig.craigsTestNoLabels.labels"
                [options]="specialTestConfig.craigsTestNoLabels.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.craigsTestNoLabels.fieldPrefix"
                [commentsFieldName]="specialTestConfig.craigsTestNoLabels.commentsFieldName"
                [hasTextInput]="specialTestConfig.craigsTestNoLabels.hasTextInput"
                [showComments]="specialTestConfig.craigsTestNoLabels.showComments">
            </dropdown-text-table>
        </div>

        <div class="form-row">
            <label class="field-label">Tibial Torsion</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="tibial_torsion" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="tibial_torsion" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFlexibilityTibialTorsionFields" class="dependent-field-box">
            <dropdown-text-table [columns]="specialTestConfig.tibialTorsionFieldTestNoLabels.columns"
                [labels]="specialTestConfig.tibialTorsionFieldTestNoLabels.labels"
                [options]="specialTestConfig.tibialTorsionFieldTestNoLabels.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.tibialTorsionFieldTestNoLabels.fieldPrefix"
                [commentsFieldName]="specialTestConfig.tibialTorsionFieldTestNoLabels.commentsFieldName"
                [hasTextInput]="specialTestConfig.tibialTorsionFieldTestNoLabels.hasTextInput"
                [showComments]="specialTestConfig.tibialTorsionFieldTestNoLabels.showComments">
            </dropdown-text-table>
        </div>
    </div>
    <div class="form-row">
        <label class="field-label">Ligament Integrity Knee</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="ligament_integrity_knee" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="ligament_integrity_knee" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showLigamentIntegrityKneeFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Valgus Stress at 0 Knee Flex</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="valgus_stress_at_0_knee_flex" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="valgus_stress_at_0_knee_flex" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showLigamentIntegrityKneeValgusStressAt0KneeFlexFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.valgusStressAt0KneeFlex.labels"
                [options]="specialTestConfig.valgusStressAt0KneeFlex.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.valgusStressAt0KneeFlex.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.valgusStressAt0KneeFlex.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.valgusStressAt0KneeFlex.commentsFieldName"
                [showApplyToAll]="specialTestConfig.valgusStressAt0KneeFlex.showApplyToAll"
                [showComments]="specialTestConfig.valgusStressAt0KneeFlex.showComments">
            </measurement-table>
        </div>

        <div class="form-row">
            <label class="field-label">Valgus Stress at 30 Knee Flex</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="valgus_stress_at_30_knee_flex" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="valgus_stress_at_30_knee_flex" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showLigamentIntegrityKneeValgusStressAt30KneeFlexFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.valgusStressAt30KneeFlex.labels"
                [options]="specialTestConfig.valgusStressAt30KneeFlex.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.valgusStressAt30KneeFlex.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.valgusStressAt30KneeFlex.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.valgusStressAt30KneeFlex.commentsFieldName"
                [showApplyToAll]="specialTestConfig.valgusStressAt30KneeFlex.showApplyToAll"
                [showComments]="specialTestConfig.valgusStressAt30KneeFlex.showComments">
            </measurement-table>
        </div>

        <div class="form-row">
            <label class="field-label">Varus Stress at 0 Knee Flex</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="varus_stress_at_0_knee_flex" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="varus_stress_at_0_knee_flex" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showLigamentIntegrityKneeVarusStressat0KneeFlexFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.varusStressAt0KneeFlex.labels"
                [options]="specialTestConfig.varusStressAt0KneeFlex.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.varusStressAt0KneeFlex.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.varusStressAt0KneeFlex.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.varusStressAt0KneeFlex.commentsFieldName"
                [showApplyToAll]="specialTestConfig.varusStressAt0KneeFlex.showApplyToAll"
                [showComments]="specialTestConfig.varusStressAt0KneeFlex.showComments">
            </measurement-table>
        </div>

        <div class="form-row">
            <label class="field-label">Varus Stress at 30 Knee Flex</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="varus_stress_at_30_knee_flex" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="varus_stress_at_30_knee_flex" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showLigamentIntegrityKneeVarusStressat30KneeFlexFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.varusStressAt30KneeFlex.labels"
                [options]="specialTestConfig.varusStressAt30KneeFlex.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.varusStressAt30KneeFlex.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.varusStressAt30KneeFlex.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.varusStressAt30KneeFlex.commentsFieldName"
                [showApplyToAll]="specialTestConfig.varusStressAt30KneeFlex.showApplyToAll"
                [showComments]="specialTestConfig.varusStressAt30KneeFlex.showComments">
            </measurement-table>
        </div>

        <div class="form-row">
            <label class="field-label">Anterior Drawer</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="anterior_drawer" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="anterior_drawer" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showLigamentIntegrityKneeAnteriorDrawerFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.anteriorDrawer.labels"
                [options]="specialTestConfig.anteriorDrawer.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.anteriorDrawer.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.anteriorDrawer.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.anteriorDrawer.commentsFieldName"
                [showApplyToAll]="specialTestConfig.anteriorDrawer.showApplyToAll"
                [showComments]="specialTestConfig.anteriorDrawer.showComments">
            </measurement-table>
        </div>

        <div class="form-row">
            <label class="field-label">Posterior Drawer</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="posterior_drawer" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="posterior_drawer" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showLigamentIntegrityKneePosteriorDrawerFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.posteriorDrawer.labels"
                [options]="specialTestConfig.posteriorDrawer.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.posteriorDrawer.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.posteriorDrawer.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.posteriorDrawer.commentsFieldName"
                [showApplyToAll]="specialTestConfig.posteriorDrawer.showApplyToAll"
                [showComments]="specialTestConfig.posteriorDrawer.showComments">
            </measurement-table>
        </div>
        <div class="form-row">
            <label class="field-label">Lachman's</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="lachmans" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="lachmans" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showLigamentIntegrityKneeLachmansFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.lachmans.labels"
                [options]="specialTestConfig.lachmans.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.lachmans.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.lachmans.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.lachmans.commentsFieldName"
                [showApplyToAll]="specialTestConfig.lachmans.showApplyToAll"
                [showComments]="specialTestConfig.lachmans.showComments">
            </measurement-table>
        </div>
        <div class="form-row">
            <label class="field-label">Pivot Shift</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="pivot_shift" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="pivot_shift" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showLigamentIntegrityKneePivotShiftFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.pivotShift.labels"
                [options]="specialTestConfig.pivotShift.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.pivotShift.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.pivotShift.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.pivotShift.commentsFieldName"
                [showApplyToAll]="specialTestConfig.pivotShift.showApplyToAll"
                [showComments]="specialTestConfig.pivotShift.showComments">
            </measurement-table>
        </div>
        <div class="form-row">
            <label class="field-label">Sag Sign</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="sag_sign" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="sag_sign" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showLigamentIntegrityKneeSagSignFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.sagSign.labels" [options]="specialTestConfig.sagSign.options"
                [formGroup]="specialTestForm" [fieldPrefix]="specialTestConfig.sagSign.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.sagSign.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.sagSign.commentsFieldName"
                [showApplyToAll]="specialTestConfig.sagSign.showApplyToAll"
                [showComments]="specialTestConfig.sagSign.showComments">
            </measurement-table>
        </div>
    </div>
    <div class="form-row">
        <label class="field-label">Stork Stand SI Mobility Test</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="stork_stand_si_mobility_test" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="stork_stand_si_mobility_test" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showStorkStandSiMobilityTestFields" class="dependent-field-box">
        <measurement-table [labels]="specialTestConfig.storkStandSiMobilityTest.labels"
            [options]="specialTestConfig.storkStandSiMobilityTest.options" [formGroup]="specialTestForm"
            [fieldPrefix]="specialTestConfig.storkStandSiMobilityTest.fieldPrefix"
            [applyToAllFieldName]="specialTestConfig.storkStandSiMobilityTest.applyToAllFieldName"
            [commentsFieldName]="specialTestConfig.storkStandSiMobilityTest.commentsFieldName"
            [showApplyToAll]="specialTestConfig.storkStandSiMobilityTest.showApplyToAll"
            [showComments]="specialTestConfig.storkStandSiMobilityTest.showComments">
        </measurement-table>
    </div>
    <div class="form-row">
        <label class="field-label">Patellofemoral</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="patellofemoral" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="patellofemoral" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showPatellofemoralFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">J Sign</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="j_sign" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="j_sign" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showPatellofemoralJSignFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.jSign.labels" [options]="specialTestConfig.jSign.options"
                [formGroup]="specialTestForm" [fieldPrefix]="specialTestConfig.jSign.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.jSign.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.jSign.commentsFieldName"
                [showApplyToAll]="specialTestConfig.jSign.showApplyToAll"
                [showComments]="specialTestConfig.jSign.showComments">
            </measurement-table>
        </div>

        <div class="form-row">
            <label class="field-label">Patellar Ballottement</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="patellar_ballottement" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="patellar_ballottement" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showPatellofemoralPatellarBallottementFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.patellarBallottement.labels"
                [options]="specialTestConfig.patellarBallottement.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.patellarBallottement.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.patellarBallottement.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.patellarBallottement.commentsFieldName"
                [showApplyToAll]="specialTestConfig.patellarBallottement.showApplyToAll"
                [showComments]="specialTestConfig.patellarBallottement.showComments">
            </measurement-table>
        </div>

        <div class="form-row">
            <label class="field-label">Patellar Compression</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="patellar_compression" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="patellar_compression" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showPatellofemoralPatellarCompressionFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.patellarCompression.labels"
                [options]="specialTestConfig.patellarCompression.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.patellarCompression.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.patellarCompression.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.patellarCompression.commentsFieldName"
                [showApplyToAll]="specialTestConfig.patellarCompression.showApplyToAll"
                [showComments]="specialTestConfig.patellarCompression.showComments">
            </measurement-table>
        </div>
        <div class="form-row">
            <label class="field-label">Patellar Passive Mobility</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="patellar_passive_mobility" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="patellar_passive_mobility" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showPatellofemoralPatellarPassiveMobilityFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.patellarPassiveMobility.labels"
                [options]="specialTestConfig.patellarPassiveMobility.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.patellarPassiveMobility.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.patellarPassiveMobility.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.patellarPassiveMobility.commentsFieldName"
                [showApplyToAll]="specialTestConfig.patellarPassiveMobility.showApplyToAll"
                [showComments]="specialTestConfig.patellarPassiveMobility.showComments">
            </measurement-table>
        </div>
    </div>
    <div class="form-row">
        <label class="field-label">Functional</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="functional" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="functional" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showFunctionalFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Core Stabilization</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="core_stabilization" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="core_stabilization" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctionalCoreStabilizationFields" class="dependent-field-box">
            <label style="margin-right: 10px;">Hold Duration</label>
            <input formControlName="hold_duration_comments_text" class="form-textarea" />
        </div>
        <div class="form-row">
            <label class="field-label">Selective Functional Movement Assessment</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="selective_functional_movement_assessment"
                        value="yes" />
                    <label cFormCheckLabel>Yes</label>

                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="selective_functional_movement_assessment"
                        value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctionalSelectiveFunctionalMovementAssessmentFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.selectiveFunctionalMovementAssessment.labels"
                [options]="specialTestConfig.selectiveFunctionalMovementAssessment.options"
                [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.selectiveFunctionalMovementAssessment.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.selectiveFunctionalMovementAssessment.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.selectiveFunctionalMovementAssessment.commentsFieldName"
                [showApplyToAll]="specialTestConfig.selectiveFunctionalMovementAssessment.showApplyToAll"
                [showComments]="specialTestConfig.selectiveFunctionalMovementAssessment.showComments">
            </measurement-table>
        </div>
        <div class="form-row">
            <label class="field-label">30 Second Chair Stand</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="_30_second_chair_stand" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="_30_second_chair_stand" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctional30SecondChairStandFields" class="dependent-field-box">
            <c-row>
                <c-col xs="2">
                    <label style="margin-right: 10px">Number of Stands in 30 Seconds</label>
                </c-col>
                <c-col xs="10">
                    <input formControlName="number_of_stands_30_second_chair_stand" class="form-textarea"
                        style="max-width:290px" />
                </c-col>
            </c-row>
            <c-row>
                <c-col xs="2">
                    <label style="margin-right: 10px"></label>
                </c-col>
                <c-col xs="10">
                    <label style="margin-right: 10px"></label>
                    <textarea formControlName="comment_30_second_chair_stand" class="form-textarea" rows="4"
                        style="max-width:100%"></textarea>
                </c-col>
            </c-row>
        </div>
        <div class="form-row">
            <label class="field-label">Side Bridge/Plank</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="side_bridge_plank" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="side_bridge_plank" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctionalSideBridgePlankFields" class="dependent-field-box">
            <measurement-input-table
            [labels]="specialTestConfig.sideBridgePlank.labels"
            [formGroup]="specialTestForm"
            [fieldPrefix]="specialTestConfig.sideBridgePlank.fieldPrefix"
            [commentsFieldName]="specialTestConfig.sideBridgePlank.commentsFieldName"            
            [showComments]="specialTestConfig.sideBridgePlank.showComments">
          </measurement-input-table>
        </div>
        <div class="form-row">
            <label class="field-label">Prone Plank</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="prone_plank" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="prone_plank" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctionalPronePlankFields" class="dependent-field-box"></div>
        <div class="form-row">
            <label class="field-label">Single Leg Bridge Hold</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="single_leg_bridge_hold" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="single_leg_bridge_hold" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctionalSingleLegBridgeHoldFields" class="dependent-field-box">
            <measurement-table [labels]="specialTestConfig.singleLegBridgeHold.labels"
                [options]="specialTestConfig.singleLegBridgeHold.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.singleLegBridgeHold.fieldPrefix"
                [applyToAllFieldName]="specialTestConfig.singleLegBridgeHold.applyToAllFieldName"
                [commentsFieldName]="specialTestConfig.singleLegBridgeHold.commentsFieldName"
                [showApplyToAll]="specialTestConfig.singleLegBridgeHold.showApplyToAll"
                [showComments]="specialTestConfig.singleLegBridgeHold.showComments">
            </measurement-table>
        </div>
        <div class="form-row">
            <label class="field-label">Single Leg Hop Test (for distance)</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="single_leg_hop_test_for_distance"
                        value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="single_leg_hop_test_for_distance" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctionalSingleLegHopTestForDistanceFields" class="dependent-field-box"></div>
        <div class="form-row">
            <label class="field-label">2 Leg Squat With Overhead Reach</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="_2_leg_squat_with_overhead_reach"
                        value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="_2_leg_squat_with_overhead_reach" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctional2LegSquatWithOverheadReachFields" class="dependent-field-box"></div>
        <div class="form-row">
            <label class="field-label">1 Leg Squat With Overhead Reach</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="_1_leg_squat_with_overhead_reach"
                        value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="_1_leg_squat_with_overhead_reach" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctional1LegSquatWithOverheadReachFields" class="dependent-field-box"></div>
        <div class="form-row">
            <label class="field-label">Running Mechanics</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="running_mechanics" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="running_mechanics" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctionalRunningMechanicsFields" class="dependent-field-box">
            <textarea formControlName="running_mechanics_comments_text" class="form-textarea" rows="4"></textarea>
        </div>
        <div class="form-row">
            <label class="field-label">Back Extension</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="back_extension" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="back_extension" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFunctionalBackExtensionFields" class="dependent-field-box">
            <label cFormCheckLabel>Hold Duration</label>
            <input formControlName="back_extension_comments_text" class="form-textarea" />
        </div>
    </div>
    <div class="form-row">
        <label class="field-label">Alar Ligament Test</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="alar_ligament_test" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="alar_ligament_test" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showAlarLigamentTestFields" class="dependent-field-box">
        <measurement-table [labels]="specialTestConfig.alarLigamentTest.labels"
            [options]="specialTestConfig.alarLigamentTest.options" [formGroup]="specialTestForm"
            [fieldPrefix]="specialTestConfig.alarLigamentTest.fieldPrefix"
            [applyToAllFieldName]="specialTestConfig.alarLigamentTest.applyToAllFieldName"
            [commentsFieldName]="specialTestConfig.alarLigamentTest.commentsFieldName"
            [showApplyToAll]="specialTestConfig.alarLigamentTest.showApplyToAll"
            [showComments]="specialTestConfig.alarLigamentTest.showComments">
        </measurement-table>
    </div>
    <div class="form-row">
        <label class="field-label">Alar Ligament Stress</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="alar_ligament_stress" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="alar_ligament_stress" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showAlarLigamentStressFields" class="dependent-field-box">
        <textarea formControlName="alar_ligament_stress_comments_text" class="form-textarea" rows="4"></textarea>
    </div>
    <div class="form-row">
        <label class="field-label">Work Conditioning</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="work_conditioning" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="work_conditioning" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showWorkConditioningFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Material Handling (Bilateral Lifting)</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="material_handling_bilateral_lifting"
                        value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="material_handling_bilateral_lifting"
                        value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Non-Material Handling</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="non_material_handling" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="non_material_handling" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

    </div>
    <div class="form-row">
        <label class="field-label">TMR FAB 4 Worksheet</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="tmr_fab_4_worksheet" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="tmr_fab_4_worksheet" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showTmrFab4WorksheetFields" class="dependent-field-box">
        <textarea formControlName="tmr_fab_4_worksheet_comments_text" class="form-textarea" rows="4"></textarea>
    </div>
    <div class="form-row">
        <label class="field-label">Additional Comments</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="additional_comments" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="additional_comments" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="additionalCommentsFields" class="dependent-field-box">
        <textarea formControlName="additional_comments_text" class="form-textarea" rows="4"></textarea>
    </div>
</div>