<div [formGroup]="specialTestForm" class="omt-form">
    <div class="form-row">
        <label class="field-label">Flexibility</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="flexibility" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="flexibility" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showFlexibilityFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Thomas Test</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="thomas_test" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="thomas_test" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Ober</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="ober" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="ober" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFlexibilityoberFields" class="dependent-field-box">
            <dropdown-text-table [columns]="specialTestConfig.oberTestNoLabels.columns"
                [labels]="specialTestConfig.oberTestNoLabels.labels"
                [options]="specialTestConfig.oberTestNoLabels.options" [formGroup]="specialTestForm"
                [fieldPrefix]="specialTestConfig.oberTestNoLabels.fieldPrefix"
                [commentsFieldName]="specialTestConfig.oberTestNoLabels.commentsFieldName"
                [hasTextInput]="specialTestConfig.oberTestNoLabels.hasTextInput"
                [showComments]="specialTestConfig.oberTestNoLabels.showComments">
            </dropdown-text-table>
        </div>

        <div class="form-row">
            <label class="field-label">90/90 Hamstring Flexibility</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="_90_90_hamstring_flexibility" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="_90_90_hamstring_flexibility" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showFlexibilityHamstringFlexibilityFields" class="dependent-field-box">
            <dropdown-text-table [columns]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.columns"
            [labels]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.labels"
            [options]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.options" [formGroup]="specialTestForm"
            [fieldPrefix]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.fieldPrefix"
            [commentsFieldName]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.commentsFieldName"
            [hasTextInput]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.hasTextInput"
            [showComments]="specialTestConfig.ninetynineHamstringFlexibilityTestNoLabels.showComments">
        </dropdown-text-table>
        </div>
        <div class="form-row">
            <label class="field-label">Gastrocnemius Length</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="gastrocnemius_length" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="gastrocnemius_length" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Soleus Muscle Length</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="soleus_muscle_length" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="soleus_muscle_length" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

    </div>
    <div class="form-row">
        <label class="field-label">Structural</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="structural" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="structural" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showStructuralFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Craig's Test</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="craigs_test" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="craigs_test" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Tibial Torsion</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="tibial_torsion" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="tibial_torsion" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

    </div>
    <div class="form-row">
        <label class="field-label">Ligament Integrity Knee</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="ligament_integrity_knee" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="ligament_integrity_knee" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showLigamentIntegrityKneeFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Valgus Stress at 0 Knee Flex</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="valgus_stress_at_0_knee_flex" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="valgus_stress_at_0_knee_flex" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Valgus Stress at 30 Knee Flex</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="valgus_stress_at_30_knee_flex" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="valgus_stress_at_30_knee_flex" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Varus Stress at 0 Knee Flex</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="varus_stress_at_0_knee_flex" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="varus_stress_at_0_knee_flex" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Varus Stress at 30 Knee Flex</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="varus_stress_at_30_knee_flex" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="varus_stress_at_30_knee_flex" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Anterior Drawer</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="anterior_drawer" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="anterior_drawer" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Posterior Drawer</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="posterior_drawer" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="posterior_drawer" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Lachman's</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="lachmans" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="lachmans" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Pivot Shift</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="pivot_shift" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="pivot_shift" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Sag Sign</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="sag_sign" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="sag_sign" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

    </div>
    <div class="form-row">
        <label class="field-label">Stork Stand SI Mobility Test</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="stork_stand_si_mobility_test" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="stork_stand_si_mobility_test" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showStorkStandSiMobilityTestFields" class="dependent-field-box">
    </div>
    <div class="form-row">
        <label class="field-label">Patellofemoral</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="patellofemoral" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="patellofemoral" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showPatellofemoralFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">J Sign</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="j_sign" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="j_sign" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Patellar Ballottement</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="patellar_ballottement" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="patellar_ballottement" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Patellar Compression</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="patellar_compression" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="patellar_compression" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Patellar Passive Mobility</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="patellar_passive_mobility" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="patellar_passive_mobility" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

    </div>
    <div class="form-row">
        <label class="field-label">Functional</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="functional" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="functional" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showFunctionalFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Core Stabilization</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="core_stabilization" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="core_stabilization" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Selective Functional Movement Assessment</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="selective_functional_movement_assessment"
                        value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="selective_functional_movement_assessment"
                        value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">30 Second Chair Stand</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="_30_second_chair_stand" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="_30_second_chair_stand" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Side Bridge/Plank</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="side_bridge_plank" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="side_bridge_plank" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Prone Plank</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="prone_plank" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="prone_plank" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Single Leg Bridge Hold</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="single_leg_bridge_hold" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="single_leg_bridge_hold" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Single Leg Hop Test (for distance)</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="single_leg_hop_test_for_distance"
                        value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="single_leg_hop_test_for_distance" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">2 Leg Squat With Overhead Reach</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="_2_leg_squat_with_overhead_reach"
                        value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="_2_leg_squat_with_overhead_reach" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">1 Leg Squat With Overhead Reach</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="_1_leg_squat_with_overhead_reach"
                        value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="_1_leg_squat_with_overhead_reach" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Running Mechanics</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="running_mechanics" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="running_mechanics" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Back Extension</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="back_extension" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="back_extension" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

    </div>
    <div class="form-row">
        <label class="field-label">Alar Ligament Test</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="alar_ligament_test" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="alar_ligament_test" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showAlarLigamentTestFields" class="dependent-field-box">
    </div>
    <div class="form-row">
        <label class="field-label">Alar Ligament Stress</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="alar_ligament_stress" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="alar_ligament_stress" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showAlarLigamentStressFields" class="dependent-field-box">
    </div>
    <div class="form-row">
        <label class="field-label">Work Conditioning</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="work_conditioning" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="work_conditioning" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showWorkConditioningFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Material Handling (Bilateral Lifting)</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="material_handling_bilateral_lifting"
                        value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="material_handling_bilateral_lifting"
                        value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

        <div class="form-row">
            <label class="field-label">Non-Material Handling</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="non_material_handling" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="non_material_handling" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>

    </div>
    <div class="form-row">
        <label class="field-label">TMR FAB 4 Worksheet</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="tmr_fab_4_worksheet" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="tmr_fab_4_worksheet" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showTmrFab4WorksheetFields" class="dependent-field-box">
    </div>
    <div class="form-row">
        <label class="field-label">Additional Comments</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="additional_comments" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="additional_comments" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="additionalCommentsFields" class="dependent-field-box">
        <textarea formControlName="additional_comments_text" class="form-textarea" rows="4"></textarea>
    </div>
</div>