<div [formGroup]="palpationTestForm" class="omt-form">
    <div class="form-row">
        <label class="field-label">Palpation</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="palpation" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="palpation" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showPalpationFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Temperature Palpation</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="temperature_palpation" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="temperature_palpation" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showPalpationTemperaturPpalpationFields" class="dependent-field-box">
            <measurement-table [labels]="PalpationConfig.temperaturePalpation.labels"
                [options]="PalpationConfig.temperaturePalpation.options" [formGroup]="palpationTestForm"
                [fieldPrefix]="PalpationConfig.temperaturePalpation.fieldPrefix"
                [applyToAllFieldName]="PalpationConfig.temperaturePalpation.applyToAllFieldName"
                [commentsFieldName]="PalpationConfig.temperaturePalpation.commentsFieldName"
                [showApplyToAll]="PalpationConfig.temperaturePalpation.showApplyToAll"
                [showComments]="PalpationConfig.temperaturePalpation.showComments">
            </measurement-table>
        </div>
        <title-checkbox-list 
            [title]="PalpationConfig.rightTemporalis.title"
            [labels]="PalpationConfig.rightTemporalis.labels"
            [formGroup]="palpationTestForm"
            [fieldPrefix]="PalpationConfig.rightTemporalis.fieldPrefix"
            [showNormalCheckbox]="PalpationConfig.rightTemporalis.showNormalCheckbox"
            [showComments]="PalpationConfig.rightTemporalis.showComments"
            [commentsLabel]="PalpationConfig.rightTemporalis.commentsLabel"
            [commentsFieldName]="PalpationConfig.rightTemporalis.commentsFieldName"
            [normalFieldName]="PalpationConfig.rightTemporalis.normalFieldName">
        </title-checkbox-list>
        <title-checkbox-list
  [title]="PalpationConfig.leftTemporalis.title"
  [labels]="PalpationConfig.leftTemporalis.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.leftTemporalis.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.leftTemporalis.showNormalCheckbox"
  [showComments]="PalpationConfig.leftTemporalis.showComments"
  [commentsLabel]="PalpationConfig.leftTemporalis.commentsLabel"
  [commentsFieldName]="PalpationConfig.leftTemporalis.commentsFieldName"
  [normalFieldName]="PalpationConfig.leftTemporalis.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.rightMasseter.title"
  [labels]="PalpationConfig.rightMasseter.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.rightMasseter.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.rightMasseter.showNormalCheckbox"
  [showComments]="PalpationConfig.rightMasseter.showComments"
  [commentsLabel]="PalpationConfig.rightMasseter.commentsLabel"
  [commentsFieldName]="PalpationConfig.rightMasseter.commentsFieldName"
  [normalFieldName]="PalpationConfig.rightMasseter.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.leftMasseter.title"
  [labels]="PalpationConfig.leftMasseter.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.leftMasseter.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.leftMasseter.showNormalCheckbox"
  [showComments]="PalpationConfig.leftMasseter.showComments"
  [commentsLabel]="PalpationConfig.leftMasseter.commentsLabel"
  [commentsFieldName]="PalpationConfig.leftMasseter.commentsFieldName"
  [normalFieldName]="PalpationConfig.leftMasseter.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.rightScm.title"
  [labels]="PalpationConfig.rightScm.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.rightScm.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.rightScm.showNormalCheckbox"
  [showComments]="PalpationConfig.rightScm.showComments"
  [commentsLabel]="PalpationConfig.rightScm.commentsLabel"
  [commentsFieldName]="PalpationConfig.rightScm.commentsFieldName"
  [normalFieldName]="PalpationConfig.rightScm.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.leftScm.title"
  [labels]="PalpationConfig.leftScm.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.leftScm.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.leftScm.showNormalCheckbox"
  [showComments]="PalpationConfig.leftScm.showComments"
  [commentsLabel]="PalpationConfig.leftScm.commentsLabel"
  [commentsFieldName]="PalpationConfig.leftScm.commentsFieldName"
  [normalFieldName]="PalpationConfig.leftScm.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.rightScalenes.title"
  [labels]="PalpationConfig.rightScalenes.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.rightScalenes.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.rightScalenes.showNormalCheckbox"
  [showComments]="PalpationConfig.rightScalenes.showComments"
  [commentsLabel]="PalpationConfig.rightScalenes.commentsLabel"
  [commentsFieldName]="PalpationConfig.rightScalenes.commentsFieldName"
  [normalFieldName]="PalpationConfig.rightScalenes.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.leftScalenes.title"
  [labels]="PalpationConfig.leftScalenes.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.leftScalenes.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.leftScalenes.showNormalCheckbox"
  [showComments]="PalpationConfig.leftScalenes.showComments"
  [commentsLabel]="PalpationConfig.leftScalenes.commentsLabel"
  [commentsFieldName]="PalpationConfig.leftScalenes.commentsFieldName"
  [normalFieldName]="PalpationConfig.leftScalenes.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.rightSuboccipitalMyofascia.title"
  [labels]="PalpationConfig.rightSuboccipitalMyofascia.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.rightSuboccipitalMyofascia.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.rightSuboccipitalMyofascia.showNormalCheckbox"
  [showComments]="PalpationConfig.rightSuboccipitalMyofascia.showComments"
  [commentsLabel]="PalpationConfig.rightSuboccipitalMyofascia.commentsLabel"
  [commentsFieldName]="PalpationConfig.rightSuboccipitalMyofascia.commentsFieldName"
  [normalFieldName]="PalpationConfig.rightSuboccipitalMyofascia.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.leftSuboccipitalMyofascia.title"
  [labels]="PalpationConfig.leftSuboccipitalMyofascia.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.leftSuboccipitalMyofascia.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.leftSuboccipitalMyofascia.showNormalCheckbox"
  [showComments]="PalpationConfig.leftSuboccipitalMyofascia.showComments"
  [commentsLabel]="PalpationConfig.leftSuboccipitalMyofascia.commentsLabel"
  [commentsFieldName]="PalpationConfig.leftSuboccipitalMyofascia.commentsFieldName"
  [normalFieldName]="PalpationConfig.leftSuboccipitalMyofascia.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.rightLevatorScapula.title"
  [labels]="PalpationConfig.rightLevatorScapula.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.rightLevatorScapula.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.rightLevatorScapula.showNormalCheckbox"
  [showComments]="PalpationConfig.rightLevatorScapula.showComments"
  [commentsLabel]="PalpationConfig.rightLevatorScapula.commentsLabel"
  [commentsFieldName]="PalpationConfig.rightLevatorScapula.commentsFieldName"
  [normalFieldName]="PalpationConfig.rightLevatorScapula.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.leftLevatorScapula.title"
  [labels]="PalpationConfig.leftLevatorScapula.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.leftLevatorScapula.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.leftLevatorScapula.showNormalCheckbox"
  [showComments]="PalpationConfig.leftLevatorScapula.showComments"
  [commentsLabel]="PalpationConfig.leftLevatorScapula.commentsLabel"
  [commentsFieldName]="PalpationConfig.leftLevatorScapula.commentsFieldName"
  [normalFieldName]="PalpationConfig.leftLevatorScapula.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.rightUpperTrapezius.title"
  [labels]="PalpationConfig.rightUpperTrapezius.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.rightUpperTrapezius.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.rightUpperTrapezius.showNormalCheckbox"
  [showComments]="PalpationConfig.rightUpperTrapezius.showComments"
  [commentsLabel]="PalpationConfig.rightUpperTrapezius.commentsLabel"
  [commentsFieldName]="PalpationConfig.rightUpperTrapezius.commentsFieldName"
  [normalFieldName]="PalpationConfig.rightUpperTrapezius.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.leftUpperTrapezius.title"
  [labels]="PalpationConfig.leftUpperTrapezius.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.leftUpperTrapezius.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.leftUpperTrapezius.showNormalCheckbox"
  [showComments]="PalpationConfig.leftUpperTrapezius.showComments"
  [commentsLabel]="PalpationConfig.leftUpperTrapezius.commentsLabel"
  [commentsFieldName]="PalpationConfig.leftUpperTrapezius.commentsFieldName"
  [normalFieldName]="PalpationConfig.leftUpperTrapezius.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.rightMiddleTrapezius.title"
  [labels]="PalpationConfig.rightMiddleTrapezius.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.rightMiddleTrapezius.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.rightMiddleTrapezius.showNormalCheckbox"
  [showComments]="PalpationConfig.rightMiddleTrapezius.showComments"
  [commentsLabel]="PalpationConfig.rightMiddleTrapezius.commentsLabel"
  [commentsFieldName]="PalpationConfig.rightMiddleTrapezius.commentsFieldName"
  [normalFieldName]="PalpationConfig.rightMiddleTrapezius.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.leftMiddleTrapezius.title"
  [labels]="PalpationConfig.leftMiddleTrapezius.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.leftMiddleTrapezius.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.leftMiddleTrapezius.showNormalCheckbox"
  [showComments]="PalpationConfig.leftMiddleTrapezius.showComments"
  [commentsLabel]="PalpationConfig.leftMiddleTrapezius.commentsLabel"
  [commentsFieldName]="PalpationConfig.leftMiddleTrapezius.commentsFieldName"
  [normalFieldName]="PalpationConfig.leftMiddleTrapezius.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.rightLowerTrapezius.title"
  [labels]="PalpationConfig.rightLowerTrapezius.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.rightLowerTrapezius.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.rightLowerTrapezius.showNormalCheckbox"
  [showComments]="PalpationConfig.rightLowerTrapezius.showComments"
  [commentsLabel]="PalpationConfig.rightLowerTrapezius.commentsLabel"
  [commentsFieldName]="PalpationConfig.rightLowerTrapezius.commentsFieldName"
  [normalFieldName]="PalpationConfig.rightLowerTrapezius.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.leftLowerTrapezius.title"
  [labels]="PalpationConfig.leftLowerTrapezius.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.leftLowerTrapezius.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.leftLowerTrapezius.showNormalCheckbox"
  [showComments]="PalpationConfig.leftLowerTrapezius.showComments"
  [commentsLabel]="PalpationConfig.leftLowerTrapezius.commentsLabel"
  [commentsFieldName]="PalpationConfig.leftLowerTrapezius.commentsFieldName"
  [normalFieldName]="PalpationConfig.leftLowerTrapezius.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.rightQuadratusLumborum.title"
  [labels]="PalpationConfig.rightQuadratusLumborum.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.rightQuadratusLumborum.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.rightQuadratusLumborum.showNormalCheckbox"
  [showComments]="PalpationConfig.rightQuadratusLumborum.showComments"
  [commentsLabel]="PalpationConfig.rightQuadratusLumborum.commentsLabel"
  [commentsFieldName]="PalpationConfig.rightQuadratusLumborum.commentsFieldName"
  [normalFieldName]="PalpationConfig.rightQuadratusLumborum.normalFieldName">
</title-checkbox-list>

<title-checkbox-list
  [title]="PalpationConfig.leftQuadratusLumborum.title"
  [labels]="PalpationConfig.leftQuadratusLumborum.labels"
  [formGroup]="palpationTestForm"
  [fieldPrefix]="PalpationConfig.leftQuadratusLumborum.fieldPrefix"
  [showNormalCheckbox]="PalpationConfig.leftQuadratusLumborum.showNormalCheckbox"
  [showComments]="PalpationConfig.leftQuadratusLumborum.showComments"
  [commentsLabel]="PalpationConfig.leftQuadratusLumborum.commentsLabel"
  [commentsFieldName]="PalpationConfig.leftQuadratusLumborum.commentsFieldName"
  [normalFieldName]="PalpationConfig.leftQuadratusLumborum.normalFieldName">
</title-checkbox-list>

    </div>
    <div class="form-row">
        <label class="field-label">Additional Comments</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="additional_comments" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="additional_comments" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showAdditionalCommentsFields" class="dependent-field-box">
        <textarea formControlName="additional_comments_text" class="form-textarea" rows="4"></textarea>
    </div>
</div>