<div [formGroup]="palpationTestForm" class="omt-form">
    <div class="form-row">
        <label class="field-label">Palpation</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="palpation" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="palpation" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showPalpationFields" class="dependent-field-box">
        <div class="form-row">
            <label class="field-label">Temperature Palpation</label>
            <div class="radio-group">
                <c-form-check class="me-3">
                    <input cFormCheckInput type="radio" formControlName="temperature_palpation" value="yes" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" formControlName="temperature_palpation" value="no" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </div>
        </div>
        <div *ngIf="showPalpationTemperaturPpalpationFields" class="dependent-field-box">
            <measurement-table [labels]="PalpationConfig.temperaturePalpation.labels"
                [options]="PalpationConfig.temperaturePalpation.options" [formGroup]="palpationTestForm"
                [fieldPrefix]="PalpationConfig.temperaturePalpation.fieldPrefix"
                [applyToAllFieldName]="PalpationConfig.temperaturePalpation.applyToAllFieldName"
                [commentsFieldName]="PalpationConfig.temperaturePalpation.commentsFieldName"
                [showApplyToAll]="PalpationConfig.temperaturePalpation.showApplyToAll"
                [showComments]="PalpationConfig.temperaturePalpation.showComments">
            </measurement-table>
        </div>
    </div>
    <div class="form-row">
        <label class="field-label">Additional Comments</label>
        <div class="radio-group">
            <c-form-check class="me-3">
                <input cFormCheckInput type="radio" formControlName="additional_comments" value="yes" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" formControlName="additional_comments" value="no" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </div>
    </div>
    <div *ngIf="showAdditionalCommentsFields" class="dependent-field-box">
        <textarea formControlName="additional_comments_text" class="form-textarea" rows="4"></textarea>
    </div>
</div>