<c-container fluid="true" class="my-3">
    <c-card>
        <c-card-body>
            <c-callout color="danger" *ngIf="isValidForm">
                <span class="text-danger fw-bold">Please fill in all the required fields save</span>
            </c-callout>
            <form [formGroup]="appointmentTypeEditForm">
                <c-row>
                    <c-col xl="1">
                        <label style="width: 150px;">Name<span class="text-danger">*</span></label>
                    </c-col>
                    <c-col xl="6">
                        <input class="form-control" placeholder formControlName="appointment-name" sizing="sm"
                            cFormControl [ngClass]="{'is-invalid': this.appointmentTypeEditForm.get('appointment-name')?.invalid
                        && this.appointmentTypeEditForm.get('appointment-name')?.touched}" maxlength="60" input-trimmer>
                    </c-col>
                </c-row>
                <c-row class="my-2">
                    <c-col xl="2">
                        <label style="width: 150px;">Color<span class="text-danger">*</span></label>
                    </c-col>
                    <c-col xs="10">
                        <input [(colorPicker)]="color" cFormControl formControlName="appointment-color" sizing="sm"
                            [style.background]="appointmentTypeEditForm.get('appointment-color').value"
                            style="height: 40px;width: 40px;border-radius: 50%;display: inline-block;"
                            (cpSliderDragStart)="onCahngeColor('cpSliderDragStart', $event)" />
                    </c-col>
                </c-row>
                <c-row class="my-2">
                    <c-col xl="2">
                        <label style="width: 150px;">Font Color<span class="text-danger">*</span></label>
                    </c-col>
                    <c-col xs="10">
                        <input [(colorPicker)]="color" cFormControl formControlName="appointment-font-color" sizing="sm"
                            [style.background]="appointmentTypeEditForm.get('appointment-font-color').value"
                            style="height: 40px;width: 40px;border-radius: 50%;display: inline-block;"
                            (cpSliderDragStart)="onCahngeFontColor('cpSliderDragStart', $event)" />
                    </c-col>
                </c-row>
                <div class="mt-3 text-center">
                    <button cButton size="sm" variant="outline" class="mx-2" (click)="update()">
                        <span>Save</span>
                    </button>
                </div>
            </form>
        </c-card-body>
    </c-card>
</c-container>