<app-create-user [clinics]="clinics |async" [isOrganizationInit]="true"
    (pushUser)="handleCreatedUser($event)"></app-create-user> 
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th scope="col" style="width: 100px;">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
            <th scope="col" style="width: 5%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;let i=index;" scope="row">
            <th scope="row">{{i+1}}</th>
            <th scope="row">{{user.accountName}}</th>
            <th scope="row">{{user.email}}</th>
            <th scope="row">{{user.userType}}</th>
            <th scope="row">
                <div class="btn-group " role="group" aria-label="Basic example">
                    <button cButton color="primary" size="sm" variant="outline" (click)="remove(i)">
                        <svg cIcon name="cilTrash"></svg>
                    </button>
                </div>
            </th>
        </tr>
    </tbody>
</table>
<div [formGroup]="form">
    <div class="mt-3">
        <button cButton matStepperPrevious size="sm" variant="outline" style="width: 5%;" class="mx-2">Back</button>
        <button cButton matStepperNext variant="outline" size="sm" style="width: 5%;" type="submit"
            [disabled]="!form.get('users').valid">Next</button>
    </div>
</div>