<div [formGroup]="form">
    <!--input-->
    <div class="d-flex align-items-center mb-1" *ngIf="field.type !== 'checkbox' && field.type !== 'radio' 
     && field.type !== 'textArea' 
     && field.type !== 'mutliple-checkBox'
     && field.type !== 'checkbox'
     && field.type !== 'multiple_radio'
     && field.type !== 'select'
     && field.type !== 'multiple_select'
     && field.type !== 'custom-mutliple-radio'
     && field.type !== 'billing-code-number'
     && field.type !== 'multiple-profile-text'
     && field.type !== 'omt_test'
     && field.type !== 'walk_test'">
        <label class="me-2 text-end" [style]="filedStyle!.label_style">
            {{field.display}}
        </label>
        <input cFormControl [id]="field.id" [type]="field.type" [formControlName]="field.name" sizing="sm"
            [style]="filedStyle!.style" />
    </div>
    <!--textArea-->
    <div class="d-flex align-items-center mb-1" *ngIf="field.type === 'textArea'">
        <label class="me-2 text-end" [style]="filedStyle!.label_style">
            {{field.display}}
        </label>
        <textarea cFormControl [id]="field.id" [formControlName]="field.name" rows="3" sizing="sm"
            [style]="filedStyle!.style"></textarea>
    </div>
    <!--checkbox-->
    <div class="d-flex align-items-center mb-1" *ngIf="field.type == 'checkbox'" [style]="filedStyle?.style">
        <label class="me-2 text-end" [style]="filedStyle?.label_style"></label>
        <c-form-check>
            <input cFormCheckInput [id]="field.id" type="checkbox" [formControlName]="field.name" size="sm" />
            <label cFormCheckLabel for="na">{{field.display}}</label>
        </c-form-check>
    </div>
    <!--radio-->
    <div class="d-flex align-items-center mb-1" *ngIf="field.type === 'radio'">
        <label for="time_in_out" class="me-2 text-end" [style]="filedStyle!.label_style">
            {{field.display}}
        </label>
        <div class="d-flex" [style]="filedStyle!.style">
            <c-form-check class="me-3 d-flex align-items-center" *ngIf="field.extra==='na'">
                <input cFormCheckInput type="radio" [formControlName]="field.name" size="sm" [value]="'na'" />
                <label cFormCheckLabel class="ms-1">N/A</label>
            </c-form-check>
            <c-form-check class="me-3 d-flex align-items-center">
                <input cFormCheckInput type="radio" [formControlName]="field.name" size="sm" [value]="'yes'" />
                <label cFormCheckLabel class="ms-1">Yes</label>
            </c-form-check>
            <c-form-check class="d-flex align-items-center">
                <input cFormCheckInput type="radio" [formControlName]="field.name" size="sm" [value]="'no'" />
                <label cFormCheckLabel class="ms-1">No</label>
            </c-form-check>
        </div>
    </div>
    <!--multiple radio -->
    <div class="d-flex align-items-center mb-1" *ngIf="field.type === 'multiple_radio'">
        <label for="time_in_out" class="me-2 text-end" [style]="filedStyle!.label_style">
            {{field.display}}
        </label>
        <div class="d-flex" [style]="filedStyle!.style">
            <c-form-check class="me-3 d-flex align-items-center" *ngFor="let fVal of field.value;">
                <input cFormCheckInput type="radio" [formControlName]="field.name" size="sm" [value]="fVal" />
                <label cFormCheckLabel class="ms-1">{{fVal}}</label>
            </c-form-check>
        </div>
    </div>
    <!--mutliple-checkBox-->
    <div class="mb-3" *ngIf="field.type === 'mutliple-checkBox'">
        <mutliple-check-box [form]="form" [values]="field.value" [label]="field.display"
            [splitColumn]="field.checkBoxCol" [labelStyle]="field.labelStyle"
            [checkBoxStyle]="field.checkBoxStyle"></mutliple-check-box>
    </div>
    <!--multiple_profile_text-->
    <div class="mb-3" *ngIf="field.type === 'multiple-profile-text'">
        <multiple-text-input [form]="form"></multiple-text-input>
    </div>
    <!--custom multiple-radio-->
    <div class="mb-3" *ngIf="field.type === 'custom-mutliple-radio'">
        <multiple-radio [form]="form" [inputControlName]="field.name" [values]="field.value" [label]="field.display"
            [splitColumn]="1" [style]="getstyleFieldControl(field.name)"></multiple-radio>
    </div>
    <div class="mb-3" *ngIf="field.type === 'billing-code-number'">
        <billing-code-number [form]="form" [label]="field.display" [value]="field.name"></billing-code-number>
    </div>
    <!--select-->
    <div class="d-flex mb-1" *ngIf="field.type === 'select'">
        <label class="me-2 text-end" [style]="filedStyle!.label_style">
            {{field.display}}
        </label>
        <select [formControlName]="field.name" [id]="field.id" [style]="filedStyle!.style" sizing="sm" cSelect>
            <option *ngFor="let fVal of field.value" [value]="fVal.val">
                {{fVal.view}}
            </option>
        </select>
    </div>
    <!--multiple_select-->
    <div class="d-flex align-items-center mb-1" *ngIf="field.type === 'multiple_select'">
        <label class="me-2 text-end" [style]="filedStyle!.label_style">
            {{field.display}}
        </label>
        <div class="d-flex flex-column">
            <select cSelect multiple [formControlName]="field.name" [id]="field.id" [style]="filedStyle!.style">
                <option *ngFor="let fVal of field.value" [value]="fVal.val">
                    {{fVal.view}}
                </option>
            </select>
            <span class="small mt-1 fst-italic">Hold CTRL for Multiple Select</span>
        </div>
    </div>
    <div *ngIf="field.type === 'omt_test'">
        <app-objective-omttest [layout]="field.omtFieldRequest.layout" [form]="form"
            [controls]="field.omtFieldRequest.list" [testStyle]="filedStyle!.style"
            [parentFieldName]="field.name"></app-objective-omttest>
    </div>
    <div *ngIf="field.type === 'walk_test'">
        <walk-test [form]="form" [parentFieldName]="field.name" [testStyle]="filedStyle!.style"></walk-test>
    </div>
    <div *ngIf="field.dependents!==undefined && field.dependents.length > 0">
        <span *ngFor="let dependent of field.dependents;">
            <soap-field-builder [field]="dependent " [form]="form" *ngIf="dependent.render"
                [filedStyle]="getstyleFieldControl(dependent.name)" [styles]="styles"></soap-field-builder>
        </span>
    </div>


</div>