<h2 mat-dialog-title>Appointment Actions</h2>
<mat-dialog-content class="mat-typography">
    <app-appointment-actions [event]="data.event"></app-appointment-actions>
</mat-dialog-content>
<c-row class="text-center">
    <c-button-group role="group">
        <button id="btnSearch" class="btn btn-primary btn-sm " Style="width: 100px;"
            (click)="editAppointment()">Edit</button>
        <button id="btnClear" class="btn btn-info btn-sm " Style="width: 100px;"
            (click)="appointmentStatus()">Status</button>
        <button id="btnClear" class="btn btn-danger btn-sm " Style="width: 100px;">Delete</button>
        <button id="btnClear" class="btn btn-warning btn-sm " Style="width: 100px;"(click)="close()">Close</button>
    </c-button-group>
</c-row>