<form [formGroup]="billingForm" *ngIf="fields">
    <h4>Billing:</h4>
    <hr />
    <c-form-check class="mb-4">
        <input cFormCheckInput id="dailyNoteIncluded" type="checkbox" formControlName="dailyNoteIncluded" size="sm" />
        <label cFormCheckLabel for="na"> Include Daily Note with this Initial Examination
        </label>
    </c-form-check>
    <h4>Daily Note Plan (Additional Information Needed):</h4>
    <hr />
    <div class="mb-3 mt-3">
        <c-row>
            <c-col xs="12">
                <label style="margin-left: 3px;">Instructions:
                    <select cSelect formControlName="dn_nstructions" sizing="sm" class="mb-2">
                        <option *ngFor="let instruction of instructions" [value]="instruction.value">
                            {{instruction.label}}
                        </option>
                    </select>
                </label>
            </c-col>
            <c-col xs="12">
                <textarea cFormControl id="instructionsTxt" formControlName="instructionsTxt" rows="3"></textarea>
            </c-col>
        </c-row>
    </div>
    <h4>Billing Sheet</h4>
    <hr />
    <c-row>
        <c-col xs="12">
            <div class="form-container">
                <div class="column">
                    <label for="precautions">Precautions</label>
                    <textarea id="precautions" formControlName="precautions"></textarea>
                </div>
            </div>
            <div class="section">
                <c-row>
                    <c-col xs="12">
                        <h6><strong>Untimed Codes</strong></h6>
                        <hr />
                        <untimed-codes (formReady)="setChildForm('untimedCodes', $event)"
                            [fields]="fields['Untimed Codes']"></untimed-codes>
                    </c-col>
                    <c-col xs="4">
                        <strong>Calendar Month</strong>
                        <hr />
                        <calendar-month (formReady)="setChildForm('calendarMonth', $event)"
                            [fields]="fields['calendar month']"></calendar-month>
                    </c-col>
                    <c-col xs="4">
                        <strong>Nerve Conduction Studies</strong>
                        <hr />
                        <nerve-conduction-studies (formReady)="setChildForm('nerveConduction', $event)"
                            [fields]="fields['Nerve Conduction Studies']"></nerve-conduction-studies>
                    </c-col>
                    <c-col xs="4">
                        <strong>Respiratory</strong>
                        <hr />
                        <respiratory (formReady)="setChildForm('respiratory', $event)" [fields]="fields['Respiratory']">
                        </respiratory>
                    </c-col>
                </c-row>
            </div>
        </c-col>
        <hr />
        <c-col xs="12">
            <div class="form-container">
                <div class="column">
                    <label for="objective_findings"><strong>Objective Findings</strong></label>
                    <textarea id="objective_findings" formControlName="objective_findings"></textarea>
                </div>
            </div>
            <div class="form-container">
                <div class="column">
                    <label for="pre_Treatment">Pre-Treatment</label>
                    <textarea id="pre_Treatment" formControlName="pre_Treatment"></textarea>
                </div>
            </div>
            <div class="form-container mb-1">
                <div class="column">
                    <label for="post_Treatment">Post-Treatment</label>
                    <textarea id="post_Treatment" formControlName="post_Treatment"></textarea>
                </div>
            </div>
            <c-row>
                <c-col xs="4">
                    <strong>Other Treatment Procedures</strong>
                    <hr />
                    <other-treatment-procedures (formReady)="setChildForm('otherTreatmentProcedures', $event)"
                        [fields]="fields['Other Treatment Procedures']"></other-treatment-procedures>
                </c-col>
                <c-col xs="8">
                    <strong>Supplies</strong>
                    <hr />
                    <supplies (formReady)="setChildForm('otherTreatmentProcedures', $event)"
                        [fields]="fields['Supplies']"></supplies>
                </c-col>
                <c-col xs="4">
                    <strong>Splints/Orthotics</strong>
                    <hr />
                    <splints-orthotics (formReady)="setChildForm('splintsorthotics', $event)"
                        [fields]="fields['Splints Orthotics']"></splints-orthotics>
                </c-col>
                <c-col xs="4">
                    <strong>Casts</strong>
                    <hr />
                    <casts (formReady)="setChildForm('casts', $event)" [fields]="fields['Casts']"></casts>
                </c-col>
                <c-col xs="4">
                    <strong>Braces</strong>
                    <hr />
                    <div *ngFor="let brace of braces; let i = index" class="procedure-item">
                        <input type="number" cFormControl [formControlName]="brace.code" class="procedure-input" min="0"
                            sizing="sm" />
                        <label class="procedure-label" class="mx-2">{{ brace.name }}</label>
                    </div>
                </c-col>
            </c-row>
        </c-col>
    </c-row>

    <div class="mt-3">
        <button cButton matStepperPrevious size="sm" variant="outline" class="mx-2">Back</button>
        <button cButton variant="outline" size="sm" (click)="next()">Next</button>
    </div>
</form>