<div [formGroup]="form" class="form-container">
  <!-- Top Controls -->
  <div class="form-row" *ngFor="let ctrl of topControls">
    <label class="field-label">{{ ctrl.label }}</label>
    <div class="dropdown-with-custom">
      <select [formControlName]="getControlName('top', ctrl.label)">
        <option *ngFor="let opt of ctrl.value" [value]="opt.val">{{ opt.view }}</option>
      </select>
      <input *ngIf="form.get(getControlName('top', ctrl.label) + '_custom')" type="text" class="custom-input"
        [formControlName]="getControlName('top', ctrl.label) + '_custom'" />
    </div>
  </div>

  <!-- Two-column Layout -->
  <div class="two-column-layout">
    <!-- Right Column -->
    <div class="column-section">
      <div class="column-header">{{ rightLabel }}</div>
      <div class="column-row" *ngFor="let rCtrl of controlR">
        <label class="field-label" *ngIf="!rCtrl.ignoreLabel">{{ rCtrl.label }}</label>
        <label class="field-label" *ngIf="rCtrl.ignoreLabel">&nbsp;</label>
        <div class="dropdown-with-custom">
          <select [formControlName]="getControlName('right', rCtrl.label)">
            <option *ngFor="let opt of rCtrl.value" [value]="opt.val">{{ opt.view }}</option>
          </select>
          <input *ngIf="form.get(getControlName('right', rCtrl.label) + '_custom')" type="text" class="custom-input"
            [formControlName]="getControlName('right', rCtrl.label) + '_custom'" />
        </div>
      </div>
    </div>

    <!-- Left Column -->
    <div class="column-section">
      <div class="column-header">{{ leftLabel }}</div>
      <div class="column-row" *ngFor="let lCtrl of controlL">
        <label class="field-label" *ngIf="!lCtrl.ignoreLabel">{{ lCtrl.label }}</label>
        <label class="field-label" *ngIf="lCtrl.ignoreLabel">&nbsp;</label>
        <div class="dropdown-with-custom">
          <select [formControlName]="getControlName('left', lCtrl.label)">
            <option *ngFor="let opt of lCtrl.value" [value]="opt.val">{{ opt.view }}</option>
          </select>
          <input *ngIf="form.get(getControlName('left', lCtrl.label) + '_custom')" type="text" class="custom-input"
            [formControlName]="getControlName('left', lCtrl.label) + '_custom'" />
        </div>
      </div>
    </div>
  </div>

  <!-- Comment -->
  <div *ngIf="hasComment" class="comment-section">
    <textarea [formControlName]="getCommentName()" placeholder="Comments..."></textarea>
  </div>
</div>