<c-card class="mb-2" [style]="style">
    <c-card-header>
        {{title}}
    </c-card-header>
    <c-card-body>
        <div class="form-group">
            <div class="goal-form-container">
                <div class="goal-input">
                    <label>Enter an ICD-10 code or description</label>
                    <c-card cBorder="primary" class="mb-2">
                        <c-card-body>
                            <c-input-group class="mb-3">
                                <span cInputGroupText id="basic-addon1">
                                    <svg cIcon name="cilNotes"></svg>
                                </span>
                                <input cFormControl name="icd10diagnosis" [formControl]="diagnosisCtrl" />
                                <button cButton variant="outline" (click)="icdSearch()">
                                    <svg cIcon name="cilSearch"></svg>
                                </button>
                            </c-input-group>
                            <c-multi-select class="mb-2" (valueChange)="addICD10diagnosis($event)" multiple="true"
                                visibleItems="20">
                                <c-multi-select-option *ngFor="let option of filteredDiagnosis">
                                    {{ option}}
                                </c-multi-select-option>
                            </c-multi-select>
                        </c-card-body>
                    </c-card>
                </div>
                <div class="add-btn-container">
                    <button type="button" (click)="addCode()" class="add-goal-btn">
                        ➕ Add
                    </button>
                </div>
            </div>

            <div style="display: flex; justify-content: flex-end; margin-top: 10px;" *ngIf="hierarchy ==='parent'">
                <button type="button" (click)="copyCodes()" class="add-goal-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24" class="icon icon-copy">
                        <path
                            d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v16h14c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 18H8V7h11v16z" />
                    </svg>
                    Copy Codes from Diagnosis
                </button>
            </div>
        </div>
        <!-- Table -->
        <table class="table table-sm p-1 mb-3">
            <thead>
                <tr>
                    <th style="max-width: 140px;">Codes</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let diag of addedDiagnosis; let i = index">
                    <td>{{ diag.code }}</td>
                    <td>{{ diag.description }}</td>
                    <td class="text-center">
                        <button cButton color="danger" variant="outline" size="sm" (click)="removeDiagnosis(i)">
                            <svg cIcon name="cilTrash"></svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </c-card-body>
</c-card>