<table class="table table-bordered cTable table-sm">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="6" class="text-center" style="padding: 0px;">
			<div class="text-end">
                <button class="btn btn-link">Add new code</button>
				</div>
            </td>
        </tr>
    </tfoot>
    <tbody>
    </tbody>
</table>
