<div class="d-flex justify-content-center">
    <c-card class="mb-2 card-center">
        <c-card-header>
            <strong>Examination Profile</strong>
        </c-card-header>
        <c-card-body>
            <select id="profile-select" cSelect (change)="selectProfile()" [(ngModel)]="selectedProfile"
                [disabled]="isNotInitialExaminationNote">
                <option disabled selected value="null">Select Examination Profile</option>
                <option *ngFor="let profile of profiles | async" [value]="profile.name">
                    {{ profile.name }}
                </option>
            </select>
        </c-card-body>
    </c-card>
</div>
<div [formGroup]="objectiveForm" *ngIf="objectiveCategoriesfields">
    <!--Inspection-->
    <c-card class="mb-2" *ngIf="objectiveCategoriesfields['inspection']">
        <c-card-header>Inspection</c-card-header>
        <c-card-body>
            <inspectionN (formReady)="setChildForm('inspection', $event)"></inspectionN>
        </c-card-body>
    </c-card>
    <!--Outcome Measurement Tools-->
    <c-card class="mb-2" *ngIf="objectiveCategoriesfields['omt']">
        <c-card-header>Outcome Measurement Tools</c-card-header>
        <c-card-body>
            <omt (formReady)="setChildForm('omt', $event)" [fields]="objectiveCategoriesfields['omt']"></omt>
        </c-card-body>
    </c-card>
    <!--Observation-->
    <c-card class="mb-2" *ngIf="objectiveCategoriesfields['observation']">
        <c-card-header>Observation</c-card-header>
        <c-card-body>
            <observation (formReady)="setChildForm('observation', $event)"
                [fields]="objectiveCategoriesfields['observation']">
            </observation>
        </c-card-body>
    </c-card>
    <!--Range of Motion-->
    <c-card class="mb-2" *ngIf="objectiveCategoriesfields['range_of_motion']">
        <c-card-header>Range of Motion</c-card-header>
        <c-card-body>
            <range-of-motion (formReady)="setChildForm('rangeOfMotion', $event)"
                [fields]="objectiveCategoriesfields['range_of_motion']"></range-of-motion>
        </c-card-body>
    </c-card>
    <!--Strength-->
    <c-card class="mb-2" *ngIf="objectiveCategoriesfields['strength']">
        <c-card-header>Strength</c-card-header>
        <c-card-body>
            <strength (formReady)="setChildForm('strength', $event)" [fields]="objectiveCategoriesfields['strength']">
            </strength>
        </c-card-body>
    </c-card>

    <!--Neuro-Vascular-->
    <c-card class="mb-2" *ngIf="objectiveCategoriesfields['neuro_vascular']">
        <c-card-header>Neuro-Vascular</c-card-header>
        <c-card-body>
            <neuro-vascular (formReady)="setChildForm('neuroVascular', $event)"
                [fields]="objectiveCategoriesfields['neuro_vascular']"></neuro-vascular>
        </c-card-body>
    </c-card>

    <!--Special Tests-->
    <c-card class="mb-2" *ngIf="objectiveCategoriesfields['special_tests']">
        <c-card-header>Special Tests</c-card-header>
        <c-card-body>
            <special-tests (formReady)="setChildForm('specialTest', $event)"
                [fields]="objectiveCategoriesfields['special_tests']"></special-tests>
        </c-card-body>
    </c-card>

    <!--Palpation-->
    <c-card class="mb-2" *ngIf="objectiveCategoriesfields['palpation']">
        <c-card-header>Palpation</c-card-header>
        <c-card-body>
            <palpation (formReady)="setChildForm('palpation', $event)"
                [fields]="objectiveCategoriesfields['palpation']"></palpation>
        </c-card-body>
    </c-card>
    <div class="mt-3">
        <button cButton matStepperPrevious size="sm" variant="outline" class="mx-2">Back</button>
        <button cButton variant="outline" size="sm" (click)="next()">Next</button>
    </div>
</div>