<div [formGroup]="form">
    <!-- Apply to All Dropdown -->
    <div class="rom-container side-label">
      <div class="test-label">Apply to All</div>
      <select class="dropdown" (change)="applyToAll($event)">
        <option value=""> </option>
        <option value="WNL">WNL</option>
        <option value="WFL">WFL</option>
        <option value="NT">Not Tested</option>
      </select>
  
      <!-- Empty cell for spacing -->
      <div *ngIf="columns === 2"></div>
    </div>
  
    <!-- Two-column layout -->
    <ng-container *ngIf="columns === 2">
      <div class="rom-container side-label">
        <div></div>
        <div>Right</div>
        <div>Left</div>
      </div>
  
      <div *ngFor="let control of controlL" class="rom-container">
        <div class="test-label">{{ control.label }}</div>
  
        <select
          class="dropdown"
          [formControlName]="'right_' + toCamelCase(control.label) + '_' + parentFieldName"
        >
          <option *ngFor="let opt of control.value" [value]="opt.val">{{ opt.view }}</option>
        </select>
  
        <select
          class="dropdown"
          [formControlName]="'left_' + toCamelCase(control.label) + '_' + parentFieldName"
        >
          <option *ngFor="let opt of control.value" [value]="opt.val">{{ opt.view }}</option>
        </select>
      </div>
    </ng-container>
  
    <!-- One-column layout -->
    <ng-container *ngIf="columns === 1">
      <div *ngFor="let control of controlR" class="single-column-container">
        <div class="single-label">{{ control.label }}</div>
  
        <select
          class="dropdown"
          [formControlName]="'right_' + toCamelCase(control.label) + '_' + parentFieldName"
        >
          <option *ngFor="let opt of control.value" [value]="opt.val">{{ opt.view }}</option>
        </select>
      </div>
    </ng-container>
  </div>
  