<form [formGroup]="form" [style]="style">
  <div [style]="labelStyle" *ngIf="label">
    <label>{{label}}</label>
  </div>
  <div class="checkbox-container" [style]="checkBoxStyle">
    <div class="column">
      <div *ngFor="let value of leftColumnValues" class="checkbox-item">
        <div class="checkbox-label" [style]="contorl_style">
          <input type="checkbox" [formControlName]="value.val" (change)="toggleAdditionalControl(value.val)" />
          <label>{{ value.view }}</label>
        </div>

        <div *ngIf="form.get(value.val)?.value" class="input-container">
          <div *ngFor="let dependency of value.dependencies">
            <div *ngIf="dependency.fieldType === 'checkbox'">
              <input type="checkbox" [formControlName]="dependency.fieldFormName" />
              <label>{{ dependency.displayName }}</label>
            </div>
            <div *ngIf="dependency.fieldType === 'text'">
              <input type="text" [formControlName]="dependency.fieldFormName" />
            </div>
            <div *ngIf="dependency.fieldType === 'textArea'">
              <textarea [formControlName]="dependency.fieldFormName" rows="2"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div *ngFor="let value of rightColumnValues" class="checkbox-item">
        <div class="checkbox-label" [style]="contorl_style">
          <input type="checkbox" [formControlName]="value.val" (change)="toggleAdditionalControl(value.val)" />
          <label>{{ value.view }}</label>
        </div>

        <div *ngIf="form.get(value.val)?.value" class="input-container">
          <div *ngFor="let dependency of value.dependencies">
            <div *ngIf="dependency.fieldType === 'checkbox'">
              <input type="checkbox" [formControlName]="dependency.fieldFormName" />
              <label>{{ dependency.displayName }}</label>
            </div>
            <div *ngIf="dependency.fieldType === 'text'">
              <input type="text" [formControlName]="dependency.fieldFormName" />
            </div>
            <div *ngIf="dependency.fieldType === 'textArea'">
              <textarea [formControlName]="dependency.fieldFormName" rows="2"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="column" *ngIf="showConditionColumn">
      <div *ngFor="let value of conditionColumnValues" class="checkbox-item">
        <div class="checkbox-label" [style]="contorl_style">
          <input type="checkbox" [formControlName]="value.val" (change)="toggleAdditionalControl(value.val)" />
          <label>{{ value.view }}</label>
        </div>

        <div *ngIf="form.get(value.val)?.value" class="input-container">
          <div *ngFor="let dependency of value.dependencies">
            <div *ngIf="dependency.fieldType === 'checkbox'">
              <input type="checkbox" [formControlName]="dependency.fieldFormName" />
              <label>{{ dependency.displayName }}</label>
            </div>
            <div *ngIf="dependency.fieldType === 'text'">
              <input type="text" [formControlName]="dependency.fieldFormName" />
            </div>
            <div *ngIf="dependency.fieldType === 'textArea'">
              <textarea [formControlName]="dependency.fieldFormName" rows="2"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>