<div class="table-container">
    <ng-container *ngIf="props$ | async as props">
        <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns"
            [items]="(appointments$ | async) ?? []" [itemsPerPage]="props.itemsPerPage"
            (itemsPerPageChange)="handleItemsPerPageChange($event)" [itemsPerPageOptions]="[5,10,20]"
            [itemsPerPageSelect]="true" [tableProps]="{ hover: true, striped: false, small: true }"
            [tableBodyProps]="{ align: 'middle' }" (sorterValueChange)="handleSorterValueChange($event)" header>
            <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                let-tdContent="tdContent">
                <td>
                    <ng-container [ngSwitch]="columnName">
                        <ng-container *ngSwitchCase="'appointmentStatus'">
                            <span class="status-badge"
                                [ngClass]="{
                                    'status-scheduled': tdContent === 'Scheduled',
                                    'status-confirmed': tdContent === 'Confirmed',
                                    'status-cancelled': tdContent === 'Cancelled',
                                    'status-completed': tdContent === 'Completed'
                                }">
                                {{ tdContent }}
                            </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'startDate'">
                            <span class="date-text">{{ tdContent | date:'MMM d, y, h:mm a' }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'endDate'">
                            <span class="date-text">{{ tdContent | date:'MMM d, y, h:mm a' }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'clinic'">
                            <span class="clinic-badge" *ngIf="item.clinicModel.id !== (selectedClinic | async)">
                                {{ item.clinicModel.name }}
                            </span>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{ tdContent }}
                        </ng-container>
                    </ng-container>
                </td>
            </ng-template>
        </c-smart-table>
        <div class="pagination-wrapper" *ngIf="props.totalPages">
            <c-smart-pagination [activePage]="props.activePage" size="sm"
                (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages">
            </c-smart-pagination>
        </div>
    </ng-container>
</div>
