<!--Daily-->
<c-container fluid *ngIf="repeatType ==='Daily'">
    <div class="form-group" class="mb-3">
        <input cFormControl sizing="sm" type="number" [(ngModel)]="dailyRepeatAppointment.every" placeholder="Every" />
    </div>
    <div class="form-group" class="mb-3">
        <c-date-picker closeOnSelect size="sm" [placeholder]="'Start at'"
            (dateChange)="changeDailyStartDate($event)"></c-date-picker>
    </div>
    <div class="form-group" class="mb-3">
        <c-date-picker closeOnSelect size="sm" [placeholder]="'End at'"
            (dateChange)="changeDailyEndDate($event)"></c-date-picker>
    </div>
</c-container>

<!--Weekly-->
<c-container fluid *ngIf="repeatType ==='Weekly'">
    <div class="form-group" class="mb-3">
        <input cFormControl sizing="sm" type="number" placeholder="Every" [(ngModel)]="weeklyRepeatAppointment.every" />
    </div>
    <div class="form-group" class="mb-3">
        <c-multi-select cFormControl cSelect class="mb-2" sizing="sm" [(ngModel)]="weeklyRepeatAppointment.days"
            multiple>
            <c-multi-select-option *ngFor="let day of days"
                [value]="day.dayNumber.toString()">{{day.dayName}}</c-multi-select-option>
        </c-multi-select>
    </div>
    <div class="form-group" class="mb-3">
        <c-date-picker closeOnSelect size="sm" [placeholder]="'Start at'"
            (dateChange)="changeWeeklyStartDate($event)"></c-date-picker>
    </div>
    <div class="form-group" class="mb-3">
        <c-date-picker closeOnSelect size="sm" [placeholder]="'End at'"
            (dateChange)="changeWeeklyEndDate($event)"></c-date-picker>
    </div>
</c-container>

<!--Monthly-->
<c-container fluid *ngIf="repeatType ==='Monthly'"></c-container>

<!--Yearly-->
<c-container fluid *ngIf="repeatType ==='Yearly'"></c-container>

<!--Every Week Day-->
<c-container fluid *ngIf="repeatType ==='Every_Week_Day'"></c-container>