<c-container fluid>
    <c-row class="justify-content-center">
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header><strong>Patient Quick Search</strong></c-card-header>
                <c-card-body>
                    <div class="mb-1">
                        <c-row>
                            <c-col xs="11">
                                <c-input-group class="mb-3" sizing="sm">
                                    <input cFormControl name="patientname" [formControl]="patientClient"
                                        placeholder="Patient" class="mb-2" />
                                </c-input-group>
                            </c-col>
                            <c-col xs="1">
                                <div class="spinner-border" role="status" *ngIf="isLoading">
                                </div>
                            </c-col>
                        </c-row>
                    </div>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>

    <full-appointment *ngIf="filteredPatients?.length > 0" [patientsList]="filteredPatients" [startDate]="startDate"
        [mode]="'create'" [schedulerSettings]="schedulerSettings" (dataValidation)="checkAppointmentValidity($event)"
        (createdAppointment)="emittedAppointment($event)"></full-appointment>


    <block-appointment *ngIf="!(filteredPatients?.length > 0)" [startDate]="startDate" [mode]="'create'"
        [schedulerSettings]="schedulerSettings" (validation)="checkAppointmentValidity($event)"
        (createdAppointment)="emittedAppointment($event)"></block-appointment>
</c-container>