<div class="table-container">
    <div class="d-flex justify-content-end mb-3">
        <button cButton class="add-payment-btn" (click)="openPaymentModal()">Add Payment</button>
    </div>
    <ng-container *ngIf="props$ | async as props">
        <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns"
            [items]="(patientPaymentRecordResponse$ | async) ?? []" [itemsPerPage]="props.itemsPerPage"
            (itemsPerPageChange)="handleItemsPerPageChange($event)" [itemsPerPageOptions]="[5,10,20]"
            [itemsPerPageSelect]="true" [tableProps]="{ hover: true, striped: false, small: true }"
            [tableBodyProps]="{ align: 'middle' }" (sorterValueChange)="handleSorterValueChange($event)" header>
            <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                let-tdContent="tdContent">
                <td>
                    <ng-container [ngSwitch]="columnName">
                        <ng-container *ngSwitchCase="'appointmentStatus'">
                            <span class="status-badge">{{ tdContent }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'amount'">
                            <span class="amount-text">{{ tdContent | currency: 'USD' }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'createdAt'">
                            <span class="date-text">{{ tdContent | date:'MMM d, y, h:mm a' }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Actions'">
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{ tdContent }}
                        </ng-container>
                    </ng-container>
                </td>
            </ng-template>
        </c-smart-table>
        <div class="pagination-wrapper" *ngIf="props.totalPages">
            <c-smart-pagination [activePage]="props.activePage" size="sm"
                (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages">
            </c-smart-pagination>
        </div>
    </ng-container>
</div>

<!-- Add Payment Modal -->
<c-modal [visible]="showPaymentModal" (visibleChange)="!$event && closePaymentModal()" size="xl" alignment="center">
    <c-modal-header>
        <h5 cModalTitle>Add Payment</h5>
        <button cButtonClose (click)="closePaymentModal()"></button>
    </c-modal-header>
    <c-modal-body>
        <patient-case-payment #casePayment [patientId]="patientId" [caseId]="caseId" (paymentSaved)="onPaymentSaved()"></patient-case-payment>
    </c-modal-body>
    <c-modal-footer>
        <button cButton class="cancel-btn" (click)="closePaymentModal()">Cancel</button>
        <button cButton class="save-btn" [disabled]="casePayment.isSaving" (click)="casePayment.savePayment()">
            {{ casePayment.isSaving ? 'Saving...' : 'Save Payment' }}
        </button>
    </c-modal-footer>
</c-modal>
